@use "@/styles/mixins" as *;

$radius: "l", "none";

.box {
  @include transition($property: background);

  &.padding-xl {
    padding: var(--spacing-64);

    @include mobile-only {
      padding: var(--spacing-48) var(--spacing-24);
    }
  }

  &.padding-l {
    padding: var(--spacing-48);

    @include mobile-only {
      padding: var(--spacing-32) var(--spacing-24);
    }
  }

  &.padding-m {
    padding: var(--spacing-32);

    @include mobile-only {
      padding: var(--spacing-24);
    }
  }

  &.padding-s {
    padding: var(--spacing-24);
  }

  &.padding-none {
    padding: 0;
  }

  @each $size in $radius {
    &.radius-#{$size} {
      border-radius: var(--radius-#{$size});
    }
  }

  @each $color in $colors {
    &.#{$color} {
      background: var(--surface-#{$color}-primary);
      color: var(--text-#{$color}-foreground);
    }
  }

  &.transparent {
    background: var(--transparent);
  }
}

