@use "@/styles/mixins" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-max);
  text-align: center;
  line-height: 1;
  cursor: pointer;
  gap: var(--spacing-8);
  user-select: none;
  -webkit-touch-callout: none;
  @include transition;

  &.l {
    height: var(--size-64);
    padding: 0 var(--spacing-48);
  }

  &.m {
    height: var(--size-48);
    padding: 0 var(--spacing-32);
  }

  &.s {
    height: var(--size-32);
    padding: 0 var(--spacing-24);
    font-size: var(--font-size-text-s);
  }

  &.block {
    width: 100%;
  }

  @each $color in $colors {
    &.#{$color} {
      &.fill {
        background: var(--#{$color});
        color: var(--#{$color}-foreground);

        &:hover {
          background: var(--#{$color}-hover);
        }

        &.active {
          background: var(--#{$color}-active);
        }
      }

      &.outline {
        border: 1px solid var(--#{$color});
        color: var(--#{$color});

        &:hover {
          background: var(--#{$color}-ghost);
        }

        &.active {
          background: var(--#{$color});
          border-color: var(--#{$color});
          color: var(--#{$color}-foreground);
        }
      }

      &.ghost {
        color: var(--#{$color});

        &:hover {
          background: var(--#{$color}-ghost);
        }

        &.active {
          background: var(--#{$color});
          color: var(--#{$color}-foreground);
        }
      }
    }
  }

  &.disabled {
    opacity: 0.35;
    pointer-events: none;
  }
}


