@use "reset" as *;
@use "fonts" as *;
@use "mixins" as *;

body {
  min-width: 375px;
  background: var(--surface-default);
  color: var(--text-default);
  line-height: var(--line-height-default);
  font-family: var(--font-family-default), sans-serif;
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
  @include transition($property: background);
}

::selection {
  background: var(--surface-accent-primary);
  color: var(--text-contrast-primary);
}
