@use "reset" as *;
@use "fonts" as *;
@use "mixins" as *;

body {
  min-width: 375px;
  background: var(--background-neutral-secondary);
  color: var(--text-main-primary);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text-m);
  @include transition($property: background);
}

::selection {
  background: var(--surface-accent-primary);
  color: var(--text-contrast-primary);
}
