* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::after, ::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-wrap: break-word;
}

body {
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label, small {
  display: block;
}

img, picture, video, canvas {
  display: block;
  max-width: 100%;
}

img, video {
  height: auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
}

a, button {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-touch-callout: none;
  user-select: none;
  appearance: none;
}

button, input, textarea, select {
  background: none;
  border: none;
  box-shadow: none;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}
