:root {
  --main: #24282A;
  --main-darken-10: rgb(32.4, 36, 37.8);
  --main-darken-20: rgb(28.8, 32, 33.6);
  --main-darken-30: rgb(25.2, 28, 29.4);
  --main-darken-40: rgb(21.6, 24, 25.2);
  --main-darken-50: #121415;
  --main-darken-60: rgb(14.4, 16, 16.8);
  --main-darken-70: rgb(10.8, 12, 12.6);
  --main-darken-80: rgb(7.2, 8, 8.4);
  --main-darken-90: rgb(3.6, 4, 4.2);
  --main-darken-100: black;
  --main-lighten-10: rgb(57.9, 61.5, 63.3);
  --main-lighten-20: rgb(79.8, 83, 84.6);
  --main-lighten-30: rgb(101.7, 104.5, 105.9);
  --main-lighten-40: rgb(123.6, 126, 127.2);
  --main-lighten-50: rgb(145.5, 147.5, 148.5);
  --main-lighten-60: rgb(167.4, 169, 169.8);
  --main-lighten-70: rgb(189.3, 190.5, 191.1);
  --main-lighten-80: rgb(211.2, 212, 212.4);
  --main-lighten-90: rgb(233.1, 233.5, 233.7);
  --main-lighten-100: white;
  --main-opacity-90: rgba(36, 40, 42, 0.9);
  --main-opacity-80: rgba(36, 40, 42, 0.8);
  --main-opacity-70: rgba(36, 40, 42, 0.7);
  --main-opacity-60: rgba(36, 40, 42, 0.6);
  --main-opacity-50: rgba(36, 40, 42, 0.5);
  --main-opacity-40: rgba(36, 40, 42, 0.4);
  --main-opacity-30: rgba(36, 40, 42, 0.3);
  --main-opacity-20: rgba(36, 40, 42, 0.2);
  --main-opacity-10: rgba(36, 40, 42, 0.1);
  --main-opacity-0: rgba(36, 40, 42, 0);
  --utility: #656D77;
  --utility-darken-10: rgb(90.9, 98.1, 107.1);
  --utility-darken-20: rgb(80.8, 87.2, 95.2);
  --utility-darken-30: rgb(70.7, 76.3, 83.3);
  --utility-darken-40: rgb(60.6, 65.4, 71.4);
  --utility-darken-50: rgb(50.5, 54.5, 59.5);
  --utility-darken-60: rgb(40.4, 43.6, 47.6);
  --utility-darken-70: rgb(30.3, 32.7, 35.7);
  --utility-darken-80: rgb(20.2, 21.8, 23.8);
  --utility-darken-90: rgb(10.1, 10.9, 11.9);
  --utility-darken-100: black;
  --utility-lighten-10: rgb(116.4, 123.6, 132.6);
  --utility-lighten-20: rgb(131.8, 138.2, 146.2);
  --utility-lighten-30: rgb(147.2, 152.8, 159.8);
  --utility-lighten-40: rgb(162.6, 167.4, 173.4);
  --utility-lighten-50: #b2b6bb;
  --utility-lighten-60: rgb(193.4, 196.6, 200.6);
  --utility-lighten-70: rgb(208.8, 211.2, 214.2);
  --utility-lighten-80: rgb(224.2, 225.8, 227.8);
  --utility-lighten-90: rgb(239.6, 240.4, 241.4);
  --utility-lighten-100: white;
  --utility-opacity-90: rgba(101, 109, 119, 0.9);
  --utility-opacity-80: rgba(101, 109, 119, 0.8);
  --utility-opacity-70: rgba(101, 109, 119, 0.7);
  --utility-opacity-60: rgba(101, 109, 119, 0.6);
  --utility-opacity-50: rgba(101, 109, 119, 0.5);
  --utility-opacity-40: rgba(101, 109, 119, 0.4);
  --utility-opacity-30: rgba(101, 109, 119, 0.3);
  --utility-opacity-20: rgba(101, 109, 119, 0.2);
  --utility-opacity-10: rgba(101, 109, 119, 0.1);
  --utility-opacity-0: rgba(101, 109, 119, 0);
  --neutral: #EEEEF1;
  --neutral-darken-10: rgb(214.2, 214.2, 216.9);
  --neutral-darken-20: rgb(190.4, 190.4, 192.8);
  --neutral-darken-30: rgb(166.6, 166.6, 168.7);
  --neutral-darken-40: rgb(142.8, 142.8, 144.6);
  --neutral-darken-50: rgb(119, 119, 120.5);
  --neutral-darken-60: rgb(95.2, 95.2, 96.4);
  --neutral-darken-70: rgb(71.4, 71.4, 72.3);
  --neutral-darken-80: rgb(47.6, 47.6, 48.2);
  --neutral-darken-90: rgb(23.8, 23.8, 24.1);
  --neutral-darken-100: black;
  --neutral-lighten-10: rgb(239.7, 239.7, 242.4);
  --neutral-lighten-20: rgb(241.4, 241.4, 243.8);
  --neutral-lighten-30: rgb(243.1, 243.1, 245.2);
  --neutral-lighten-40: rgb(244.8, 244.8, 246.6);
  --neutral-lighten-50: rgb(246.5, 246.5, 248);
  --neutral-lighten-60: rgb(248.2, 248.2, 249.4);
  --neutral-lighten-70: rgb(249.9, 249.9, 250.8);
  --neutral-lighten-80: rgb(251.6, 251.6, 252.2);
  --neutral-lighten-90: rgb(253.3, 253.3, 253.6);
  --neutral-lighten-100: white;
  --neutral-opacity-90: rgba(238, 238, 241, 0.9);
  --neutral-opacity-80: rgba(238, 238, 241, 0.8);
  --neutral-opacity-70: rgba(238, 238, 241, 0.7);
  --neutral-opacity-60: rgba(238, 238, 241, 0.6);
  --neutral-opacity-50: rgba(238, 238, 241, 0.5);
  --neutral-opacity-40: rgba(238, 238, 241, 0.4);
  --neutral-opacity-30: rgba(238, 238, 241, 0.3);
  --neutral-opacity-20: rgba(238, 238, 241, 0.2);
  --neutral-opacity-10: rgba(238, 238, 241, 0.1);
  --neutral-opacity-0: rgba(238, 238, 241, 0);
  --accent: #AD1875;
  --accent-darken-10: rgb(155.7, 21.6, 105.3);
  --accent-darken-20: rgb(138.4, 19.2, 93.6);
  --accent-darken-30: rgb(121.1, 16.8, 81.9);
  --accent-darken-40: rgb(103.8, 14.4, 70.2);
  --accent-darken-50: rgb(86.5, 12, 58.5);
  --accent-darken-60: rgb(69.2, 9.6, 46.8);
  --accent-darken-70: rgb(51.9, 7.2, 35.1);
  --accent-darken-80: rgb(34.6, 4.8, 23.4);
  --accent-darken-90: rgb(17.3, 2.4, 11.7);
  --accent-darken-100: black;
  --accent-lighten-10: rgb(181.2, 47.1, 130.8);
  --accent-lighten-20: rgb(189.4, 70.2, 144.6);
  --accent-lighten-30: rgb(197.6, 93.3, 158.4);
  --accent-lighten-40: rgb(205.8, 116.4, 172.2);
  --accent-lighten-50: rgb(214, 139.5, 186);
  --accent-lighten-60: rgb(222.2, 162.6, 199.8);
  --accent-lighten-70: rgb(230.4, 185.7, 213.6);
  --accent-lighten-80: rgb(238.6, 208.8, 227.4);
  --accent-lighten-90: rgb(246.8, 231.9, 241.2);
  --accent-lighten-100: white;
  --accent-opacity-90: rgba(173, 24, 117, 0.9);
  --accent-opacity-80: rgba(173, 24, 117, 0.8);
  --accent-opacity-70: rgba(173, 24, 117, 0.7);
  --accent-opacity-60: rgba(173, 24, 117, 0.6);
  --accent-opacity-50: rgba(173, 24, 117, 0.5);
  --accent-opacity-40: rgba(173, 24, 117, 0.4);
  --accent-opacity-30: rgba(173, 24, 117, 0.3);
  --accent-opacity-20: rgba(173, 24, 117, 0.2);
  --accent-opacity-10: rgba(173, 24, 117, 0.1);
  --accent-opacity-0: rgba(173, 24, 117, 0);
  --contrast: #fff;
  --contrast-darken-10: rgb(229.5, 229.5, 229.5);
  --contrast-darken-20: #cccccc;
  --contrast-darken-30: rgb(178.5, 178.5, 178.5);
  --contrast-darken-40: #999999;
  --contrast-darken-50: rgb(127.5, 127.5, 127.5);
  --contrast-darken-60: #666666;
  --contrast-darken-70: rgb(76.5, 76.5, 76.5);
  --contrast-darken-80: #333333;
  --contrast-darken-90: rgb(25.5, 25.5, 25.5);
  --contrast-darken-100: black;
  --contrast-lighten-10: white;
  --contrast-lighten-20: white;
  --contrast-lighten-30: white;
  --contrast-lighten-40: white;
  --contrast-lighten-50: white;
  --contrast-lighten-60: white;
  --contrast-lighten-70: white;
  --contrast-lighten-80: white;
  --contrast-lighten-90: white;
  --contrast-lighten-100: white;
  --contrast-opacity-90: rgba(255, 255, 255, 0.9);
  --contrast-opacity-80: rgba(255, 255, 255, 0.8);
  --contrast-opacity-70: rgba(255, 255, 255, 0.7);
  --contrast-opacity-60: rgba(255, 255, 255, 0.6);
  --contrast-opacity-50: rgba(255, 255, 255, 0.5);
  --contrast-opacity-40: rgba(255, 255, 255, 0.4);
  --contrast-opacity-30: rgba(255, 255, 255, 0.3);
  --contrast-opacity-20: rgba(255, 255, 255, 0.2);
  --contrast-opacity-10: rgba(255, 255, 255, 0.1);
  --contrast-opacity-0: rgba(255, 255, 255, 0);
  --info: #208CDB;
  --info-darken-10: rgb(28.8, 126, 197.1);
  --info-darken-20: rgb(25.6, 112, 175.2);
  --info-darken-30: rgb(22.4, 98, 153.3);
  --info-darken-40: rgb(19.2, 84, 131.4);
  --info-darken-50: rgb(16, 70, 109.5);
  --info-darken-60: rgb(12.8, 56, 87.6);
  --info-darken-70: rgb(9.6, 42, 65.7);
  --info-darken-80: rgb(6.4, 28, 43.8);
  --info-darken-90: rgb(3.2, 14, 21.9);
  --info-darken-100: black;
  --info-lighten-10: rgb(54.3, 151.5, 222.6);
  --info-lighten-20: rgb(76.6, 163, 226.2);
  --info-lighten-30: rgb(98.9, 174.5, 229.8);
  --info-lighten-40: rgb(121.2, 186, 233.4);
  --info-lighten-50: rgb(143.5, 197.5, 237);
  --info-lighten-60: rgb(165.8, 209, 240.6);
  --info-lighten-70: rgb(188.1, 220.5, 244.2);
  --info-lighten-80: rgb(210.4, 232, 247.8);
  --info-lighten-90: rgb(232.7, 243.5, 251.4);
  --info-lighten-100: white;
  --info-opacity-90: rgba(32, 140, 219, 0.9);
  --info-opacity-80: rgba(32, 140, 219, 0.8);
  --info-opacity-70: rgba(32, 140, 219, 0.7);
  --info-opacity-60: rgba(32, 140, 219, 0.6);
  --info-opacity-50: rgba(32, 140, 219, 0.5);
  --info-opacity-40: rgba(32, 140, 219, 0.4);
  --info-opacity-30: rgba(32, 140, 219, 0.3);
  --info-opacity-20: rgba(32, 140, 219, 0.2);
  --info-opacity-10: rgba(32, 140, 219, 0.1);
  --info-opacity-0: rgba(32, 140, 219, 0);
  --success: #1CB474;
  --success-darken-10: rgb(25.2, 162, 104.4);
  --success-darken-20: rgb(22.4, 144, 92.8);
  --success-darken-30: rgb(19.6, 126, 81.2);
  --success-darken-40: rgb(16.8, 108, 69.6);
  --success-darken-50: #0e5a3a;
  --success-darken-60: rgb(11.2, 72, 46.4);
  --success-darken-70: rgb(8.4, 54, 34.8);
  --success-darken-80: rgb(5.6, 36, 23.2);
  --success-darken-90: rgb(2.8, 18, 11.6);
  --success-darken-100: black;
  --success-lighten-10: rgb(50.7, 187.5, 129.9);
  --success-lighten-20: rgb(73.4, 195, 143.8);
  --success-lighten-30: rgb(96.1, 202.5, 157.7);
  --success-lighten-40: rgb(118.8, 210, 171.6);
  --success-lighten-50: rgb(141.5, 217.5, 185.5);
  --success-lighten-60: rgb(164.2, 225, 199.4);
  --success-lighten-70: rgb(186.9, 232.5, 213.3);
  --success-lighten-80: rgb(209.6, 240, 227.2);
  --success-lighten-90: rgb(232.3, 247.5, 241.1);
  --success-lighten-100: white;
  --success-opacity-90: rgba(28, 180, 116, 0.9);
  --success-opacity-80: rgba(28, 180, 116, 0.8);
  --success-opacity-70: rgba(28, 180, 116, 0.7);
  --success-opacity-60: rgba(28, 180, 116, 0.6);
  --success-opacity-50: rgba(28, 180, 116, 0.5);
  --success-opacity-40: rgba(28, 180, 116, 0.4);
  --success-opacity-30: rgba(28, 180, 116, 0.3);
  --success-opacity-20: rgba(28, 180, 116, 0.2);
  --success-opacity-10: rgba(28, 180, 116, 0.1);
  --success-opacity-0: rgba(28, 180, 116, 0);
  --warning: #F17400;
  --warning-darken-10: rgb(216.9, 104.4, 0);
  --warning-darken-20: rgb(192.8, 92.8, 0);
  --warning-darken-30: rgb(168.7, 81.2, 0);
  --warning-darken-40: rgb(144.6, 69.6, 0);
  --warning-darken-50: rgb(120.5, 58, 0);
  --warning-darken-60: rgb(96.4, 46.4, 0);
  --warning-darken-70: rgb(72.3, 34.8, 0);
  --warning-darken-80: rgb(48.2, 23.2, 0);
  --warning-darken-90: rgb(24.1, 11.6, 0);
  --warning-darken-100: black;
  --warning-lighten-10: rgb(242.4, 129.9, 25.5);
  --warning-lighten-20: rgb(243.8, 143.8, 51);
  --warning-lighten-30: rgb(245.2, 157.7, 76.5);
  --warning-lighten-40: rgb(246.6, 171.6, 102);
  --warning-lighten-50: rgb(248, 185.5, 127.5);
  --warning-lighten-60: rgb(249.4, 199.4, 153);
  --warning-lighten-70: rgb(250.8, 213.3, 178.5);
  --warning-lighten-80: rgb(252.2, 227.2, 204);
  --warning-lighten-90: rgb(253.6, 241.1, 229.5);
  --warning-lighten-100: white;
  --warning-opacity-90: rgba(241, 116, 0, 0.9);
  --warning-opacity-80: rgba(241, 116, 0, 0.8);
  --warning-opacity-70: rgba(241, 116, 0, 0.7);
  --warning-opacity-60: rgba(241, 116, 0, 0.6);
  --warning-opacity-50: rgba(241, 116, 0, 0.5);
  --warning-opacity-40: rgba(241, 116, 0, 0.4);
  --warning-opacity-30: rgba(241, 116, 0, 0.3);
  --warning-opacity-20: rgba(241, 116, 0, 0.2);
  --warning-opacity-10: rgba(241, 116, 0, 0.1);
  --warning-opacity-0: rgba(241, 116, 0, 0);
  --danger: #C21B1B;
  --danger-darken-10: rgb(174.6, 24.3, 24.3);
  --danger-darken-20: rgb(155.2, 21.6, 21.6);
  --danger-darken-30: rgb(135.8, 18.9, 18.9);
  --danger-darken-40: rgb(116.4, 16.2, 16.2);
  --danger-darken-50: rgb(97, 13.5, 13.5);
  --danger-darken-60: rgb(77.6, 10.8, 10.8);
  --danger-darken-70: rgb(58.2, 8.1, 8.1);
  --danger-darken-80: rgb(38.8, 5.4, 5.4);
  --danger-darken-90: rgb(19.4, 2.7, 2.7);
  --danger-darken-100: black;
  --danger-lighten-10: rgb(200.1, 49.8, 49.8);
  --danger-lighten-20: rgb(206.2, 72.6, 72.6);
  --danger-lighten-30: rgb(212.3, 95.4, 95.4);
  --danger-lighten-40: rgb(218.4, 118.2, 118.2);
  --danger-lighten-50: rgb(224.5, 141, 141);
  --danger-lighten-60: rgb(230.6, 163.8, 163.8);
  --danger-lighten-70: rgb(236.7, 186.6, 186.6);
  --danger-lighten-80: rgb(242.8, 209.4, 209.4);
  --danger-lighten-90: rgb(248.9, 232.2, 232.2);
  --danger-lighten-100: white;
  --danger-opacity-90: rgba(194, 27, 27, 0.9);
  --danger-opacity-80: rgba(194, 27, 27, 0.8);
  --danger-opacity-70: rgba(194, 27, 27, 0.7);
  --danger-opacity-60: rgba(194, 27, 27, 0.6);
  --danger-opacity-50: rgba(194, 27, 27, 0.5);
  --danger-opacity-40: rgba(194, 27, 27, 0.4);
  --danger-opacity-30: rgba(194, 27, 27, 0.3);
  --danger-opacity-20: rgba(194, 27, 27, 0.2);
  --danger-opacity-10: rgba(194, 27, 27, 0.1);
  --danger-opacity-0: rgba(194, 27, 27, 0);
}

[data-theme=light] {
  --shadow-m: 0 4px 20px var(--main-opacity-10);
  --transparent: var(--contrast-opacity-0);
  --text-default: var(--main);
  --text-main-primary: var(--main);
  --text-main-foreground: var(--contrast);
  --text-main-initial: var(--main);
  --text-main-hover: var(--main-lighten-40);
  --text-main-active: var(--accent);
  --text-utility-primary: var(--utility);
  --text-utility-initial: var(--utility);
  --text-utility-hover: var(--utility-lighten-10);
  --text-utility-active: var(--accent);
  --text-utility-foreground: var(--contrast);
  --text-neutral-primary: var(--neutral);
  --text-neutral-initial: var(--neutral);
  --text-neutral-hover: var(--neutral-lighten-10);
  --text-neutral-active: var(--accent);
  --text-neutral-foreground: var(--main);
  --text-accent-primary: var(--accent);
  --text-accent-initial: var(--accent);
  --text-accent-hover: var(--accent-lighten-10);
  --text-accent-active: var(--accent);
  --text-accent-foreground: var(--contrast);
  --text-contrast-primary: var(--contrast);
  --text-contrast-initial: var(--contrast);
  --text-contrast-hover: var(--contrast-lighten-10);
  --text-contrast-active: var(--accent);
  --text-contrast-foreground: var(--main);
  --text-phantom-primary: var(--contrast-opacity-60);
  --text-phantom-initial: var(--contrast-opacity-60);
  --text-phantom-hover: var(--contrast);
  --text-phantom-active: var(--accent);
  --text-phantom-foreground: var(--main);
  --text-info-primary: var(--info);
  --text-info-initial: var(--info);
  --text-info-hover: var(--info-darken-30);
  --text-info-active: var(--info);
  --text-info-foreground: var(--contrast);
  --text-success-primary: var(--success);
  --text-success-initial: var(--success);
  --text-success-hover: var(--success-darken-30);
  --text-success-active: var(--success);
  --text-success-foreground: var(--contrast);
  --text-warning-primary: var(--warning);
  --text-warning-initial: var(--warning);
  --text-warning-hover: var(--warning-darken-30);
  --text-warning-active: var(--warning);
  --text-warning-foreground: var(--contrast);
  --text-danger-primary: var(--danger);
  --text-danger-initial: var(--danger);
  --text-danger-hover: var(--danger-darken-30);
  --text-danger-active: var(--danger);
  --text-danger-foreground: var(--contrast);
  --surface-default: var(--neutral);
  --surface-main-primary: var(--main);
  --surface-main-initial: var(--main);
  --surface-main-hover: var(--main-lighten-20);
  --surface-main-active: var(--accent);
  --surface-main-ghost: var(--main-opacity-10);
  --surface-utility-primary: var(--utility);
  --surface-utility-initial: var(--utility);
  --surface-utility-hover: var(--utility-lighten-20);
  --surface-utility-active: var(--accent);
  --surface-utility-ghost: var(--utility-opacity-10);
  --surface-neutral-primary: var(--neutral);
  --surface-neutral-initial: var(--neutral);
  --surface-neutral-hover: var(--neutral-darken-10);
  --surface-neutral-active: var(--accent);
  --surface-neutral-ghost: var(--neutral-opacity-10);
  --surface-accent-primary: var(--accent);
  --surface-accent-initial: var(--accent);
  --surface-accent-hover: var(--accent-darken-20);
  --surface-accent-active: var(--accent);
  --surface-accent-ghost: var(--accent-opacity-10);
  --surface-contrast-primary: var(--contrast);
  --surface-contrast-initial: var(--contrast);
  --surface-contrast-hover: var(--contrast-opacity-60);
  --surface-contrast-active: var(--accent);
  --surface-contrast-ghost: var(--contrast-opacity-10);
  --surface-phantom-primary: var(--contrast-opacity-60);
  --surface-phantom-initial: var(--contrast-opacity-60);
  --surface-phantom-hover: var(--contrast);
  --surface-phantom-active: var(--contrast);
  --surface-phantom-ghost: var(--contrast-opacity-10);
  --surface-info-primary: var(--info);
  --surface-info-initial: var(--info);
  --surface-info-hover: var(--info-darken-20);
  --surface-info-active: var(--info);
  --surface-info-ghost: var(--info-opacity-10);
  --surface-success-primary: var(--success);
  --surface-success-initial: var(--success);
  --surface-success-hover: var(--success-darken-20);
  --surface-success-active: var(--success);
  --surface-success-ghost: var(--success-opacity-10);
  --surface-warning-primary: var(--warning);
  --surface-warning-initial: var(--warning);
  --surface-warning-hover: var(--warning-darken-20);
  --surface-warning-active: var(--warning);
  --surface-warning-ghost: var(--warning-opacity-10);
  --surface-danger-primary: var(--danger);
  --surface-danger-initial: var(--danger);
  --surface-danger-hover: var(--danger-darken-20);
  --surface-danger-active: var(--danger);
  --surface-danger-ghost: var(--danger-opacity-10);
  --overlay-100: var(--main);
  --overlay-90: var(--main-opacity-90);
  --overlay-80: var(--main-opacity-80);
  --overlay-70: var(--main-opacity-70);
  --overlay-60: var(--main-opacity-60);
  --overlay-50: var(--main-opacity-50);
  --overlay-40: var(--main-opacity-40);
  --overlay-30: var(--main-opacity-30);
  --overlay-20: var(--main-opacity-20);
  --overlay-10: var(--main-opacity-10);
  --overlay-0: var(--main-opacity-0);
}

[data-theme=dark] {
  --shadow-m: 0 4px 20px var(--contrast-opacity-10);
  --transparent: var(--main-opacity-0);
  --text-default: var(--contrast);
  --text-main-primary: var(--contrast);
  --text-main-foreground: var(--main);
  --text-main-initial: var(--contrast);
  --text-main-hover: var(--main-lighten-70);
  --text-main-active: var(--accent);
  --text-utility-primary: var(--contrast);
  --text-utility-initial: var(--contrast);
  --text-utility-hover: var(--utility-lighten-80);
  --text-utility-active: var(--accent);
  --text-utility-foreground: var(--contrast);
  --text-neutral-primary: var(--contrast);
  --text-neutral-initial: var(--contrast);
  --text-neutral-hover: var(--neutral-lighten-80);
  --text-neutral-active: var(--accent);
  --text-neutral-foreground: var(--contrast);
  --text-accent-primary: var(--contrast);
  --text-accent-initial: var(--contrast);
  --text-accent-hover: var(--accent-lighten-80);
  --text-accent-active: var(--accent);
  --text-accent-foreground: var(--contrast);
  --text-contrast-primary: var(--contrast);
  --text-contrast-initial: var(--contrast);
  --text-contrast-hover: var(--contrast-lighten-80);
  --text-contrast-active: var(--accent);
  --text-contrast-foreground: var(--contrast);
  --text-phantom-primary: var(--contrast-opacity-60);
  --text-phantom-initial: var(--contrast-opacity-60);
  --text-phantom-hover: var(--contrast);
  --text-phantom-active: var(--accent);
  --text-phantom-foreground: var(--main);
  --text-info-primary: var(--info);
  --text-info-initial: var(--info);
  --text-info-hover: var(--info-lighten-30);
  --text-info-active: var(--info);
  --text-info-foreground: var(--contrast);
  --text-success-primary: var(--success);
  --text-success-initial: var(--success);
  --text-success-hover: var(--success-lighten-30);
  --text-success-active: var(--success);
  --text-success-foreground: var(--contrast);
  --text-warning-primary: var(--warning);
  --text-warning-initial: var(--warning);
  --text-warning-hover: var(--warning-lighten-30);
  --text-warning-active: var(--warning);
  --text-warning-foreground: var(--contrast);
  --text-danger-primary: var(--danger);
  --text-danger-initial: var(--danger);
  --text-danger-hover: var(--danger-lighten-30);
  --text-danger-active: var(--danger);
  --text-danger-foreground: var(--contrast);
  --surface-default: var(--main-lighten-10);
  --surface-main-primary: var(--main);
  --surface-main-initial: var(--contrast);
  --surface-main-hover: var(--main-lighten-80);
  --surface-main-active: var(--accent);
  --surface-main-ghost: var(--contrast-opacity-10);
  --surface-utility-primary: var(--utility);
  --surface-utility-initial: var(--main-lighten-10);
  --surface-utility-hover: var(--utility-lighten-20);
  --surface-utility-active: var(--accent);
  --surface-utility-ghost: var(--contrast-opacity-10);
  --surface-neutral-primary: var(--main-lighten-10);
  --surface-neutral-initial: var(--main-lighten-10);
  --surface-neutral-hover: var(--main-lighten-20);
  --surface-neutral-active: var(--accent);
  --surface-neutral-ghost: var(--contrast-opacity-10);
  --surface-accent-primary: var(--accent-darken-10);
  --surface-accent-initial: var(--accent-darken-10);
  --surface-accent-hover: var(--accent);
  --surface-accent-active: var(--accent-darken-10);
  --surface-accent-ghost: var(--contrast-opacity-10);
  --surface-contrast-primary: var(--main);
  --surface-contrast-initial: var(--main);
  --surface-contrast-hover: var(--contrast-lighten-80);
  --surface-contrast-active: var(--accent);
  --surface-contrast-ghost: var(--contrast-opacity-10);
  --surface-phantom-primary: var(--main);
  --surface-phantom-initial: var(--main);
  --surface-phantom-hover: var(--contrast-lighten-80);
  --surface-phantom-active: var(--accent);
  --surface-phantom-ghost: var(--contrast-opacity-10);
  --surface-info-primary: var(--info-darken-10);
  --surface-info-initial: var(--info-darken-10);
  --surface-info-hover: var(--info);
  --surface-info-active: var(--info-darken-10);
  --surface-info-ghost: var(--contrast-opacity-10);
  --surface-success-primary: var(--success-darken-10);
  --surface-success-initial: var(--success-darken-10);
  --surface-success-hover: var(--success);
  --surface-success-active: var(--success-darken-10);
  --surface-success-ghost: var(--contrast-opacity-10);
  --surface-warning-primary: var(--warning-darken-10);
  --surface-warning-initial: var(--warning-darken-10);
  --surface-warning-hover: var(--warning);
  --surface-warning-active: var(--warning-darken-10);
  --surface-warning-ghost: var(--contrast-opacity-10);
  --surface-danger-primary: var(--danger-darken-10);
  --surface-danger-initial: var(--danger-darken-10);
  --surface-danger-hover: var(--danger);
  --surface-danger-active: var(--danger-darken-10);
  --surface-danger-ghost: var(--contrast-opacity-10);
  --overlay-100: var(--contrast);
  --overlay-90: var(--contrast-opacity-70);
  --overlay-80: var(--contrast-opacity-60);
  --overlay-70: var(--contrast-opacity-50);
  --overlay-60: var(--contrast-opacity-40);
  --overlay-50: var(--contrast-opacity-30);
  --overlay-40: var(--contrast-opacity-20);
  --overlay-30: var(--contrast-opacity-20);
  --overlay-20: var(--contrast-opacity-10);
  --overlay-10: var(--contrast-opacity-10);
  --overlay-0: var(--contrast-opacity-0);
}
