:root {
  --font-family: "Montserrat";
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-size-title-xl: 4.8125rem;
  --font-size-title-l: 3.75rem;
  --font-size-title-m: 2.75rem;
  --font-size-title-s: 1.875rem;
  --font-size-title-xs: 1.25rem;
  --font-size-text-m: 1rem;
  --font-size-text-s: 0.8125rem;
  --line-height-l: 1.6;
  --line-height-m: 1.45;
  --line-height-s: 1.3;
  --container-desktop: 1366px;
  --container-laptop: 1024px;
  --container-tablet: 768px;
  --container-mobile: 425px;
  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;
  --size-4: 4px;
  --size-1: 1px;
  --size-0: 0;
  --spacing-128: 128px;
  --spacing-96: 96px;
  --spacing-64: 64px;
  --spacing-48: 48px;
  --spacing-32: 32px;
  --spacing-28: 28px;
  --spacing-24: 24px;
  --spacing-20: 20px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-0: 0;
  --spacing-minus-4: -4px;
  --spacing-minus-8: -8px;
  --spacing-minus-12: -12px;
  --spacing-minus-16: -16px;
  --spacing-minus-20: -20px;
  --spacing-minus-24: -24px;
  --spacing-minus-28: -28px;
  --spacing-minus-32: -32px;
  --spacing-minus-48: -48px;
  --spacing-minus-64: -64px;
  --spacing-minus-96: -96px;
  --spacing-minus-128: -128px;
  --radius-999: 999px;
  --radius-128: 128px;
  --radius-96: 96px;
  --radius-64: 64px;
  --radius-48: 48px;
  --radius-32: 32px;
  --radius-24: 24px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-8: 8px;
  --radius-4: 4px;
  --radius-0: 0;
  --blur-m: 8px;
}

@media (max-width: 1219px) {
  :root {
    --font-size-title-xl: 3.75rem;
    --font-size-title-l: 2.75rem;
    --font-size-title-m: 2rem;
    --font-size-title-s: 1.5rem;
    --font-size-title-xs: 1.15rem;
  }
}
@media (max-width: 767px) {
  :root {
    --font-size-title-xl: 3rem;
    --font-size-title-l: 2.2rem;
    --font-size-title-m: 1.8rem;
    --font-size-title-s: 1.4rem;
    --font-size-title-xs: 1.1rem;
  }
}
[data-theme=light] {
  color-scheme: light;
  --primary-content: #1A0A2E;
  --primary-content-action: #AD1875;
  --primary-surface: #1A0A2E;
  --primary-surface-on: #FFFFFF;
  --primary-surface-soft: rgb(243.55, 242.75, 244.55);
  --primary-surface-soft-on: #1A0A2E;
  --primary-fill: #1A0A2E;
  --primary-fill-action: #AD1875;
  --primary-fill-on: #FFFFFF;
  --primary-fill-soft: rgba(26, 10, 46, 0.05);
  --primary-fill-soft-action: rgba(26, 10, 46, 0.12);
  --primary-fill-soft-on: #1A0A2E;
  --primary-outline: #1A0A2E;
  --primary-outline-action: #AD1875;
  --primary-outline-soft: rgba(26, 10, 46, 0.15);
  --primary-gradient: linear-gradient(90deg, rgb(22.6844444444, 7.04, 42.24) 0, rgb(34.1371428571, 10.5942857143, 63.5657142857) 100%);
  --primary-gradient-on: #FFFFFF;
  --primary-gradient-soft: linear-gradient(90deg, rgb(228.5781818182, 232.3527272727, 239.9018181818) 0, rgb(241.28, 243.24, 247.16) 100%);
  --primary-gradient-soft-on: #1A0A2E;
  --secondary-content: #7B7487;
  --secondary-content-action: #1A0A2E;
  --secondary-surface: #7B7487;
  --secondary-surface-on: #FFFFFF;
  --secondary-surface-soft: rgb(248.4, 248.05, 249);
  --secondary-surface-soft-on: #7B7487;
  --secondary-fill: #7B7487;
  --secondary-fill-action: rgb(93.9, 84.2, 108.3);
  --secondary-fill-on: #FFFFFF;
  --secondary-fill-soft: rgba(123, 116, 135, 0.09);
  --secondary-fill-soft-action: rgba(123, 116, 135, 0.2);
  --secondary-fill-soft-on: #7B7487;
  --secondary-outline: #7B7487;
  --secondary-outline-action: #AD1875;
  --secondary-outline-soft: rgba(123, 116, 135, 0.15);
  --secondary-gradient: linear-gradient(90deg, rgb(102.8673684211, 81.664, 139.216) 0, rgb(122.1556468861, 98.2874581673, 163.0725418327) 100%);
  --secondary-gradient-on: #FFFFFF;
  --secondary-gradient-soft: linear-gradient(90deg, rgb(228.5781818182, 232.3527272727, 239.9018181818) 0, rgb(241.28, 243.24, 247.16) 100%);
  --secondary-gradient-soft-on: #7B7487;
  --brand-content: #F0FF48;
  --brand-content-action: rgb(150.0983606557, 163.5, 0);
  --brand-surface: #F0FF48;
  --brand-surface-on: #1A0A2E;
  --brand-surface-soft: rgb(253.5, 255, 236.7);
  --brand-surface-soft-on: rgb(175.8, 181.5, 64.2);
  --brand-fill: #F0FF48;
  --brand-fill-action: rgb(210.137704918, 228.9, 0);
  --brand-fill-on: #1A0A2E;
  --brand-fill-soft: rgba(240, 255, 72, 0.1);
  --brand-fill-soft-action: rgba(240, 255, 72, 0.2);
  --brand-fill-soft-on: #F0FF48;
  --brand-outline: #F0FF48;
  --brand-outline-action: rgb(165.1, 169.25, 62.9);
  --brand-outline-soft: rgba(240, 255, 72, 0.15);
  --brand-gradient: linear-gradient(90deg, rgb(225.1475409836, 245.25, 0) 0, rgb(240.75, 255, 81.15) 100%);
  --brand-gradient-on: #1A0A2E;
  --accent-content: #AD1875;
  --accent-content-action: rgb(121.1, 16.8, 81.9);
  --accent-surface: #AD1875;
  --accent-surface-on: #FFFFFF;
  --accent-surface-soft: rgb(246.8, 231.9, 241.2);
  --accent-surface-soft-on: #AD1875;
  --accent-fill: #AD1875;
  --accent-fill-action: rgb(216.9788832487, 30.1011167513, 146.7429441624);
  --accent-fill-on: #FFFFFF;
  --accent-fill-soft: rgba(173, 24, 117, 0.09);
  --accent-fill-soft-action: rgba(173, 24, 117, 0.2);
  --accent-fill-soft-on: #AD1875;
  --accent-outline: #AD1875;
  --accent-outline-action: rgb(230.214213198, 76.335786802, 172.3807106599);
  --accent-outline-soft: rgba(173, 24, 117, 0.25);
  --accent-gradient: linear-gradient(90deg, rgb(155.7, 21.6, 105.3) 0, rgb(200.4868020305, 27.8131979695, 135.5893401015) 100%);
  --accent-gradient-on: #FFFFFF;
  --utility-content: #12d1c5;
  --utility-content-action: rgb(12.6, 146.3, 137.9);
  --utility-surface: #12d1c5;
  --utility-surface-on: #FFFFFF;
  --utility-surface-soft: rgb(231.3, 250.4, 249.2);
  --utility-surface-soft-on: rgb(18.8, 189.1, 181.9);
  --utility-fill: #12d1c5;
  --utility-fill-action: rgb(14.94, 173.47, 163.51);
  --utility-fill-on: #FFFFFF;
  --utility-fill-soft: rgba(18, 209, 197, 0.09);
  --utility-fill-soft-action: rgba(18, 209, 197, 0.18);
  --utility-fill-soft-on: #12d1c5;
  --utility-outline: #12d1c5;
  --utility-outline-action: rgb(12.96, 150.48, 141.84);
  --utility-outline-soft: rgba(18, 209, 197, 0.2);
  --utility-gradient: linear-gradient(90deg, rgb(16.2, 188.1, 177.3) 0, rgb(20.4964757709, 234.8035242291, 221.3392070485) 100%);
  --utility-gradient-on: #FFFFFF;
  --contrast-content: #FFFFFF;
  --contrast-content-action: rgba(255, 255, 255, 0.6);
  --contrast-surface: #FFFFFF;
  --contrast-surface-on: #1A0A2E;
  --contrast-surface-soft: rgba(255, 255, 255, 0.15);
  --contrast-surface-soft-on: #FFFFFF;
  --contrast-fill: #FFFFFF;
  --contrast-fill-action: rgba(255, 255, 255, 0.6);
  --contrast-fill-on: #1A0A2E;
  --contrast-fill-soft: rgba(255, 255, 255, 0.1);
  --contrast-fill-soft-action: rgba(255, 255, 255, 0.18);
  --contrast-fill-soft-on: #FFFFFF;
  --contrast-outline: #FFFFFF;
  --contrast-outline-action: rgba(255, 255, 255, 0.7);
  --contrast-outline-soft: rgba(255, 255, 255, 0.15);
  --contrast-gradient: #FFFFFF;
  --contrast-gradient-on: #1A0A2E;
  --phantom-content: rgba(255, 255, 255, 0.6);
  --phantom-content-action: rgba(255, 255, 255, 0.4);
  --phantom-surface: rgba(255, 255, 255, 0.6);
  --phantom-surface-on: #1A0A2E;
  --phantom-surface-soft: rgba(255, 255, 255, 0.1);
  --phantom-surface-soft-on: rgba(255, 255, 255, 0.6);
  --phantom-fill: rgba(255, 255, 255, 0.6);
  --phantom-fill-action: rgba(255, 255, 255, 0.4);
  --phantom-fill-on: #1A0A2E;
  --phantom-fill-soft: rgba(255, 255, 255, 0.1);
  --phantom-fill-soft-action: rgba(255, 255, 255, 0.15);
  --phantom-fill-soft-on: rgba(255, 255, 255, 0.6);
  --phantom-outline: rgba(255, 255, 255, 0.6);
  --phantom-outline-action: rgba(255, 255, 255, 0.4);
  --phantom-outline-soft: rgba(255, 255, 255, 0.15);
  --phantom-ghost: rgba(255, 255, 255, 0.1);
  --info-content: #0B95D6;
  --info-content-action: rgb(7.7, 104.3, 149.8);
  --info-surface: #0B95D6;
  --info-surface-on: #FFFFFF;
  --info-surface-soft: rgb(230.6, 244.4, 250.9);
  --info-surface-soft-on: #0B95D6;
  --info-fill: #0B95D6;
  --info-fill-action: rgb(38.1466666667, 177.9866666667, 243.8533333333);
  --info-fill-on: #FFFFFF;
  --info-fill-soft: rgba(11, 149, 214, 0.07);
  --info-fill-soft-action: rgba(11, 149, 214, 0.14);
  --info-fill-soft-on: #0B95D6;
  --info-outline: #0B95D6;
  --info-outline-action: rgb(78.8066666667, 192.4266666667, 245.9433333333);
  --info-outline-soft: rgba(11, 149, 214, 0.22);
  --info-gradient: linear-gradient(90deg, rgb(9.35, 126.65, 181.9) 0, rgb(11.6966666667, 158.4366666667, 227.5533333333) 100%);
  --info-gradient-on: #FFFFFF;
  --success-content: #1CB474;
  --success-content-action: rgb(19.6, 126, 81.2);
  --success-surface: #1CB474;
  --success-surface-on: #FFFFFF;
  --success-surface-on-action: rgba(255, 255, 255, 0.6);
  --success-surface-soft: rgb(232.3, 247.5, 241.1);
  --success-surface-soft-on: #1CB474;
  --success-fill: #1CB474;
  --success-fill-action: rgb(32.8784615385, 211.3615384615, 136.2107692308);
  --success-fill-on: #FFFFFF;
  --success-fill-soft: rgba(28, 180, 116, 0.08);
  --success-fill-soft-action: rgba(28, 180, 116, 0.15);
  --success-fill-soft-on: #1CB474;
  --success-outline: #1CB474;
  --success-outline-action: rgb(85.125, 228.575, 168.175);
  --success-outline-soft: rgba(28, 180, 116, 0.22);
  --success-gradient: linear-gradient(90deg, rgb(23.8, 153, 98.6) 0, rgb(30.0326923077, 193.0673076923, 124.4211538462) 100%);
  --success-gradient-on: #FFFFFF;
  --warning-content: #F17400;
  --warning-content-action: rgb(168.7, 81.2, 0);
  --warning-surface: #F17400;
  --warning-surface-on: #FFFFFF;
  --warning-surface-on-action: rgba(255, 255, 255, 0.6);
  --warning-surface-soft: rgb(253.6, 241.1, 229.5);
  --warning-surface-soft-on: #F17400;
  --warning-fill: #F17400;
  --warning-fill-action: rgb(255, 150.3578838174, 53.25);
  --warning-fill-on: #FFFFFF;
  --warning-fill-soft: rgba(241, 116, 0, 0.07);
  --warning-fill-soft-action: rgba(241, 116, 0, 0.14);
  --warning-fill-soft-on: #F17400;
  --warning-outline: #F17400;
  --warning-outline-action: rgb(255, 164.3101659751, 80.15);
  --warning-outline-soft: rgba(241, 116, 0, 0.2);
  --warning-gradient: linear-gradient(90deg, rgb(204.85, 98.6, 0) 0, rgb(254.45, 122.4738589212, 0) 100%);
  --warning-gradient-on: #FFFFFF;
  --danger-content: #C21B1B;
  --danger-content-action: rgb(135.8, 18.9, 18.9);
  --danger-surface: #C21B1B;
  --danger-surface-on: #FFFFFF;
  --danger-surface-on-action: rgba(255, 255, 255, 0.6);
  --danger-surface-soft: rgb(248.9, 232.2, 232.2);
  --danger-surface-soft-on: #C21B1B;
  --danger-fill: #C21B1B;
  --danger-fill-action: rgb(228.1661538462, 62.1938461538, 62.1938461538);
  --danger-fill-on: #FFFFFF;
  --danger-fill-soft: rgba(194, 27, 27, 0.07);
  --danger-fill-soft-action: rgba(194, 27, 27, 0.14);
  --danger-fill-soft-on: #C21B1B;
  --danger-outline: #C21B1B;
  --danger-outline-action: rgb(232.05, 90.1, 90.1);
  --danger-outline-soft: rgba(194, 27, 27, 0.22);
  --danger-gradient: linear-gradient(90deg, rgb(164.9, 22.95, 22.95) 0, rgb(206.6846153846, 28.7653846154, 28.7653846154) 100%);
  --danger-gradient-on: #FFFFFF;
  --rating-content: #FFB800;
  --rating-content-action: rgb(178.5, 128.8, 0);
  --rating-surface: #FFB800;
  --rating-surface-on: #1A0A2E;
  --rating-surface-on-action: rgba(255, 255, 255, 0.6);
  --rating-surface-soft: rgb(255, 247.9, 229.5);
  --rating-surface-soft-on: rgb(216.75, 156.4, 0);
  --rating-fill: #FFB800;
  --rating-fill-action: rgb(255, 207.43, 84.15);
  --rating-fill-on: #1A0A2E;
  --rating-fill-soft: rgba(255, 184, 0, 0.09);
  --rating-fill-soft-action: rgba(255, 184, 0, 0.16);
  --rating-fill-soft-on: #FFB800;
  --rating-outline: #FFB800;
  --rating-outline-action: rgb(255, 212.4, 102);
  --rating-outline-soft: rgba(255, 184, 0, 0.2);
  --rating-gradient: linear-gradient(90deg, rgb(216.75, 156.4, 0) 0, rgb(255, 187.55, 12.75) 100%);
  --rating-gradient-on: #FFFFFF;
  --shadow-m: 0 4px 24px rgba(26, 10, 46, 0.15);
  --shadow-xs: 0 0 4px rgba(26, 10, 46, 0.05);
  --shadow-inset-xs: inset 0 0 4px rgba(26, 10, 46, 0.05);
  --transparent: rgba(255, 255, 255, 0);
  --overlay: rgba(26, 10, 46, 0.2);
  --overlay-switch: rgba(255, 255, 255, 0.25);
}

[data-theme=dark] {
  color-scheme: dark;
  --primary-content: #FFFFFF;
  --primary-content-action: #AD1875;
  --primary-surface: #1A0A2E;
  --primary-surface-on: #FFFFFF;
  --primary-surface-soft: rgb(53.4021428571, 20.5392857143, 94.4807142857);
  --primary-surface-soft-on: #FFFFFF;
  --primary-fill: #FFFFFF;
  --primary-fill-action: #AD1875;
  --primary-fill-on: #1A0A2E;
  --primary-fill-soft: rgba(255, 255, 255, 0.06);
  --primary-fill-soft-action: rgba(255, 255, 255, 0.13);
  --primary-fill-soft-on: #FFFFFF;
  --primary-outline: #FFFFFF;
  --primary-outline-action: #AD1875;
  --primary-outline-soft: rgba(255, 255, 255, 0.15);
  --primary-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --primary-gradient-on: #FFFFFF;
  --primary-gradient-soft: linear-gradient(90deg, rgb(21.9111111111, 6.8, 40.8) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --primary-gradient-soft-on: #FFFFFF;
  --secondary-content: rgba(255, 255, 255, 0.6);
  --secondary-content-action: rgba(255, 255, 255, 0.4);
  --secondary-surface: #1A0A2E;
  --secondary-surface-on: #FFFFFF;
  --secondary-surface-soft: rgb(140.0906772908, 133.8065737052, 150.8634262948);
  --secondary-surface-soft-on: #FFFFFF;
  --secondary-fill: rgb(163.4, 157, 171.4);
  --secondary-fill-action: rgb(117.6, 108, 129.6);
  --secondary-fill-on: #1A0A2E;
  --secondary-fill-soft: rgba(255, 255, 255, 0.06);
  --secondary-fill-soft-action: rgba(255, 255, 255, 0.13);
  --secondary-fill-soft-on: #FFFFFF;
  --secondary-outline: rgba(255, 255, 255, 0.6);
  --secondary-outline-action: #AD1875;
  --secondary-outline-soft: rgba(255, 255, 255, 0.15);
  --secondary-gradient: linear-gradient(90deg, rgb(101.6984210526, 80.736, 137.634) 0, rgb(120.7718515412, 96.6550358566, 162.1149641434) 100%);
  --secondary-gradient-on: #FFFFFF;
  --secondary-gradient-soft: linear-gradient(90deg, rgb(101.6984210526, 80.736, 137.634) 0, rgb(120.7718515412, 96.6550358566, 162.1149641434) 100%);
  --secondary-gradient-soft-on: #FFFFFF;
  --brand-content: rgb(218.6, 230.5, 69.4);
  --brand-content-action: rgb(135.0885245902, 147.15, 0);
  --brand-surface: #F0FF48;
  --brand-surface-on: #1A0A2E;
  --brand-surface-soft: rgb(253.5, 255, 236.7);
  --brand-surface-soft-on: rgb(175.8, 181.5, 64.2);
  --brand-fill: rgb(210.137704918, 228.9, 0);
  --brand-fill-action: rgb(150.0983606557, 163.5, 0);
  --brand-fill-on: #1A0A2E;
  --brand-fill-soft: rgba(240, 255, 72, 0.08);
  --brand-fill-soft-action: rgba(240, 255, 72, 0.14);
  --brand-fill-soft-on: #F0FF48;
  --brand-outline: rgb(207.9, 218.25, 68.1);
  --brand-outline-action: rgb(143.7, 144.75, 60.3);
  --brand-outline-soft: rgba(240, 255, 72, 0.15);
  --brand-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --brand-gradient-on: #FFFFFF;
  --accent-content: #AD1875;
  --accent-content-action: rgb(121.1, 16.8, 81.9);
  --accent-surface: rgb(147.05, 20.4, 99.45);
  --accent-surface-on: #FFFFFF;
  --accent-surface-soft: rgb(246.8, 231.9, 241.2);
  --accent-surface-soft-on: #AD1875;
  --accent-fill: #AD1875;
  --accent-fill-action: rgb(119.37, 16.56, 80.73);
  --accent-fill-on: #FFFFFF;
  --accent-fill-soft: rgba(173, 24, 117, 0.09);
  --accent-fill-soft-action: rgba(173, 24, 117, 0.18);
  --accent-fill-soft-on: #AD1875;
  --accent-outline: #AD1875;
  --accent-outline-action: rgb(129.75, 18, 87.75);
  --accent-outline-soft: rgba(173, 24, 117, 0.25);
  --accent-gradient: linear-gradient(90deg, rgb(16.24, 5.04, 30.24) 0, rgb(23.7155555556, 7.36, 44.16) 100%);
  --accent-gradient-on: #FFFFFF;
  --utility-content: #12d1c5;
  --utility-content-action: rgb(11.7, 135.85, 128.05);
  --utility-surface: rgb(15.3, 177.65, 167.45);
  --utility-surface-on: #FFFFFF;
  --utility-surface-soft: rgb(231.3, 250.4, 249.2);
  --utility-surface-soft-on: rgb(18.8, 189.1, 181.9);
  --utility-fill: rgb(12.6, 146.3, 137.9);
  --utility-fill-action: rgb(9, 104.5, 98.5);
  --utility-fill-on: #FFFFFF;
  --utility-fill-soft: rgba(18, 209, 197, 0.08);
  --utility-fill-soft-action: rgba(18, 209, 197, 0.16);
  --utility-fill-soft-on: #12d1c5;
  --utility-outline: rgb(18.8, 189.1, 181.9);
  --utility-outline-action: rgb(10.8, 125.4, 118.2);
  --utility-outline-soft: rgba(18, 209, 197, 0.2);
  --utility-gradient: linear-gradient(90deg, rgb(16.7555555556, 5.2, 31.2) 0, rgb(24.4888888889, 7.6, 45.6) 100%);
  --utility-gradient-on: #FFFFFF;
  --contrast-content: #FFFFFF;
  --contrast-content-action: rgba(255, 255, 255, 0.6);
  --contrast-surface: rgb(42.8628571429, 16.4857142857, 75.8342857143);
  --contrast-surface-on: #FFFFFF;
  --contrast-surface-soft: rgba(255, 255, 255, 0.15);
  --contrast-surface-soft-on: #FFFFFF;
  --contrast-fill: #FFFFFF;
  --contrast-fill-action: rgba(255, 255, 255, 0.6);
  --contrast-fill-on: #1A0A2E;
  --contrast-fill-soft: rgba(255, 255, 255, 0.06);
  --contrast-fill-soft-action: rgba(255, 255, 255, 0.13);
  --contrast-fill-soft-on: #FFFFFF;
  --contrast-outline: #FFFFFF;
  --contrast-outline-action: rgba(255, 255, 255, 0.5);
  --contrast-outline-soft: rgba(255, 255, 255, 0.2);
  --contrast-gradient: linear-gradient(90deg, rgb(32.1854365079, 11.1889285714, 58.4310714286) 0, rgb(44.778531746, 15.5667857143, 81.2932142857) 100%);
  --contrast-gradient-on: #FFFFFF;
  --phantom-content: rgba(255, 255, 255, 0.6);
  --phantom-content-action: rgba(255, 255, 255, 0.4);
  --phantom-surface: rgba(255, 255, 255, 0.1);
  --phantom-surface-on: rgba(255, 255, 255, 0.6);
  --phantom-surface-soft: rgba(255, 255, 255, 0.1);
  --phantom-surface-soft-on: rgba(255, 255, 255, 0.6);
  --phantom-fill: rgba(255, 255, 255, 0.6);
  --phantom-fill-action: rgba(255, 255, 255, 0.4);
  --phantom-fill-on: #1A0A2E;
  --phantom-fill-soft: rgba(255, 255, 255, 0.06);
  --phantom-fill-soft-action: rgba(255, 255, 255, 0.13);
  --phantom-fill-soft-on: rgba(255, 255, 255, 0.6);
  --phantom-outline: rgba(255, 255, 255, 0.6);
  --phantom-outline-action: rgba(255, 255, 255, 0.4);
  --phantom-outline-soft: rgba(255, 255, 255, 0.2);
  --phantom-ghost: rgba(255, 255, 255, 0.1);
  --info-content: #0B95D6;
  --info-content-action: rgb(7.7, 104.3, 149.8);
  --info-surface: rgb(9.9, 134.1, 192.6);
  --info-surface-on: #FFFFFF;
  --info-surface-soft: rgb(230.6, 244.4, 250.9);
  --info-surface-soft-on: #0B95D6;
  --info-fill: rgb(8.8, 119.2, 171.2);
  --info-fill-action: rgb(6.6, 89.4, 128.4);
  --info-fill-on: #FFFFFF;
  --info-fill-soft: rgba(11, 149, 214, 0.07);
  --info-fill-soft-action: rgba(11, 149, 214, 0.15);
  --info-fill-soft-on: #0B95D6;
  --info-outline: #0B95D6;
  --info-outline-action: rgb(7.92, 107.28, 154.08);
  --info-outline-soft: rgba(11, 149, 214, 0.2);
  --info-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --info-gradient-on: #FFFFFF;
  --success-content: #1CB474;
  --success-content-action: rgb(19.6, 126, 81.2);
  --success-surface: rgb(23.8, 153, 98.6);
  --success-surface-on: #FFFFFF;
  --success-surface-on-action: rgba(255, 255, 255, 0.6);
  --success-surface-soft: rgb(232.3, 247.5, 241.1);
  --success-surface-soft-on: #1CB474;
  --success-fill: rgb(22.4, 144, 92.8);
  --success-fill-action: rgb(16.8, 108, 69.6);
  --success-fill-on: #FFFFFF;
  --success-fill-soft: rgba(28, 180, 116, 0.1);
  --success-fill-soft-action: rgba(28, 180, 116, 0.17);
  --success-fill-soft-on: #1CB474;
  --success-outline: #1CB474;
  --success-outline-action: rgb(19.04, 122.4, 78.88);
  --success-outline-soft: rgba(28, 180, 116, 0.2);
  --success-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --success-gradient-on: #FFFFFF;
  --warning-content: #F17400;
  --warning-content-action: rgb(168.7, 81.2, 0);
  --warning-surface: #F17400;
  --warning-surface-on: #FFFFFF;
  --warning-surface-on-action: rgba(255, 255, 255, 0.6);
  --warning-surface-soft: rgb(253.6, 241.1, 229.5);
  --warning-surface-soft-on: #F17400;
  --warning-fill: rgb(192.8, 92.8, 0);
  --warning-fill-action: rgb(149.42, 71.92, 0);
  --warning-fill-on: #FFFFFF;
  --warning-fill-soft: rgba(241, 116, 0, 0.06);
  --warning-fill-soft-action: rgba(241, 116, 0, 0.13);
  --warning-fill-soft-on: #F17400;
  --warning-outline: #F17400;
  --warning-outline-action: rgb(163.88, 78.88, 0);
  --warning-outline-soft: rgba(241, 116, 0, 0.2);
  --warning-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --warning-gradient-on: #FFFFFF;
  --danger-content: #C21B1B;
  --danger-content-action: rgb(135.8, 18.9, 18.9);
  --danger-surface: #C21B1B;
  --danger-surface-on: #FFFFFF;
  --danger-surface-on-action: rgba(255, 255, 255, 0.6);
  --danger-surface-soft: rgb(248.9, 232.2, 232.2);
  --danger-surface-soft-on: #C21B1B;
  --danger-fill: rgb(155.2, 21.6, 21.6);
  --danger-fill-action: rgb(116.4, 16.2, 16.2);
  --danger-fill-on: #FFFFFF;
  --danger-fill-soft: rgba(194, 27, 27, 0.09);
  --danger-fill-soft-action: rgba(194, 27, 27, 0.16);
  --danger-fill-soft-on: #C21B1B;
  --danger-outline: #C21B1B;
  --danger-outline-action: rgb(135.8, 18.9, 18.9);
  --danger-outline-soft: rgba(194, 27, 27, 0.2);
  --danger-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --danger-gradient-on: #FFFFFF;
  --rating-content: #FFB800;
  --rating-content-action: rgb(178.5, 128.8, 0);
  --rating-surface: #FFB800;
  --rating-surface-on: #1A0A2E;
  --rating-surface-on-action: rgba(255, 255, 255, 0.6);
  --rating-surface-soft: rgb(255, 247.9, 229.5);
  --rating-surface-soft-on: rgb(216.75, 156.4, 0);
  --rating-fill: rgb(216.75, 156.4, 0);
  --rating-fill-action: rgb(165.75, 119.6, 0);
  --rating-fill-on: #1A0A2E;
  --rating-fill-soft: rgba(255, 184, 0, 0.08);
  --rating-fill-soft-action: rgba(255, 184, 0, 0.16);
  --rating-fill-soft-on: #FFB800;
  --rating-outline: #FFB800;
  --rating-outline-action: rgb(178.5, 128.8, 0);
  --rating-outline-soft: rgba(255, 184, 0, 0.2);
  --rating-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --rating-gradient-on: #FFFFFF;
  --shadow-m: 0 4px 24px rgba(255, 255, 255, 0.15);
  --shadow-xs: 0 0 4px rgba(255, 255, 255, 0.05);
  --shadow-inset-xs: inset 0 0 4px rgba(255, 255, 255, 0.05);
  --transparent: rgba(26, 10, 46, 0);
  --overlay: rgba(255, 255, 255, 0.2);
  --overlay-switch: rgba(255, 255, 255, 0.05);
}
