@use "mixins" as *;
@use "sass:color";

:root {
  --font-family: "Montserrat";

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --font-size-title-xl: 4.8125rem;
  --font-size-title-l: 3.75rem;
  --font-size-title-m: 2.75rem;
  --font-size-title-s: 1.875rem;
  --font-size-title-xs: 1.25rem;
  --font-size-text-m: 1rem;
  --font-size-text-s: 0.8125rem;

  --line-height-l: 1.6;
  --line-height-m: 1.45;
  --line-height-s: 1.3;

  --container-desktop: 1366px;
  --container-laptop: 1024px;
  --container-tablet: 768px;
  --container-mobile: 425px;

  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;
  --size-4: 4px;
  --size-1: 1px;
  --size-0: 0;

  --spacing-128: 128px;
  --spacing-96: 96px;
  --spacing-64: 64px;
  --spacing-48: 48px;
  --spacing-32: 32px;
  --spacing-28: 28px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-0: 0;
  --spacing-minus-4: -4px;
  --spacing-minus-8: -8px;
  --spacing-minus-12: -12px;
  --spacing-minus-16: -16px;
  --spacing-minus-24: -24px;
  --spacing-minus-28: -28px;
  --spacing-minus-32: -32px;
  --spacing-minus-48: -48px;
  --spacing-minus-64: -64px;
  --spacing-minus-96: -96px;
  --spacing-minus-128: -128px;

  --radius-999: 999px;
  --radius-128: 128px;
  --radius-96: 96px;
  --radius-64: 64px;
  --radius-48: 48px;
  --radius-32: 32px;
  --radius-24: 24px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-8: 8px;
  --radius-4: 4px;
  --radius-0: 0;

  --blur-m: 8px;
}

@include tablet-max {
  :root {
    --font-size-title-xl: 3.75rem;
    --font-size-title-l: 2.75rem;
    --font-size-title-m: 2rem;
    --font-size-title-s: 1.5rem;
    --font-size-title-xs: 1.15rem;
  }
}

@include mobile-only {
  :root {
    --font-size-title-xl: 3rem;
    --font-size-title-l: 2.2rem;
    --font-size-title-m: 1.8rem;
    --font-size-title-s: 1.4rem;
    --font-size-title-xs: 1.1rem;
  }
}

$primary: #1A0A2E;
$secondary: #7B7487;
$neutral: #F2F4F8;
$brand: #F0FF48;
$accent: #AD1875;
$utility: #12d1c5;
$contrast: #FFFFFF;
$phantom: rgba(255, 255, 255, 0.6);
$info: #0B95D6;
$success: #1CB474;
$warning: #F17400;
$danger: #C21B1B;
$rating: #FFB800;

$themes: (
  primary-content: (
    light: $primary,
    dark: $contrast,
  ),
  primary-content-hover: (
    light: $accent,
    dark: color.scale($accent, $lightness: 20%),
  ),
  primary-surface: (
    light: $primary,
    dark: $primary,
  ),
  primary-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  primary-surface-soft: (
    light: $neutral,
    dark: $primary,
  ),
  primary-surface-soft-on: (
    light: $primary,
    dark: $contrast,
  ),
  primary-fill: (
    light: $primary,
    dark: $contrast,
  ),
  primary-fill-on: (
    light: $contrast,
    dark: $primary,
  ),
  primary-fill-hover: (
    light: $accent,
    dark: color.scale($accent, $lightness: 20%),
  ),
  primary-fill-soft: (
    light: rgba($primary, 0.05),
    dark: rgba($contrast, 0.06),
  ),
  primary-fill-soft-hover: (
    light: rgba($primary, 0.1),
    dark: rgba($contrast, 0.11),
  ),
  primary-fill-soft-on: (
    light: $primary,
    dark: $contrast,
  ),
  primary-outline: (
    light: $primary,
    dark: $contrast,
  ),
  primary-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  primary-outline-soft: (
    light: rgba($primary, 0.15),
    dark: rgba($contrast, 0.15),
  ),
  primary-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  primary-gradient: (
    light: linear-gradient(90deg, color.scale($primary, $lightness: -12%, $saturation: 20%) 0, color.scale($primary, $lightness: 4%, $saturation: 20%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  primary-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  primary-gradient-soft: (
    light: linear-gradient(90deg, color.scale($neutral, $lightness: -4%) 0, color.scale($neutral, $lightness: 2%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -15%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  primary-gradient-soft-on: (
    light: $primary,
    dark: $contrast,
  ),
  secondary-content: (
    light: $secondary,
    dark: $phantom,
  ),
  secondary-content-hover: (
    light: $accent,
    dark: color.scale($accent, $lightness: 20%),
  ),
  secondary-surface: (
    light: $secondary,
    dark: $secondary,
  ),
  secondary-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  secondary-surface-soft: (
    light: $neutral,
    dark: color.scale($secondary, $lightness: 5%),
  ),
  secondary-surface-soft-on: (
    light: $secondary,
    dark: $contrast,
  ),
  secondary-fill: (
    light: $secondary,
    dark: color.scale($contrast, $lightness: -30%),
  ),
  secondary-fill-hover: (
    light: $accent,
    dark: color.scale($accent, $lightness: 20%),
  ),
  secondary-fill-on: (
    light: $contrast,
    dark: $primary,
  ),
  secondary-fill-soft: (
    light: rgba($secondary, 0.05),
    dark: rgba($contrast, 0.06),
  ),
  secondary-fill-soft-hover: (
    light: rgba($secondary, 0.1),
    dark: rgba($contrast, 0.11),
  ),
  secondary-fill-soft-on: (
    light: $secondary,
    dark: $contrast,
  ),
  secondary-outline: (
    light: $secondary,
    dark: $contrast,
  ),
  secondary-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  secondary-outline-soft: (
    light: rgba($secondary, 0.15),
    dark: rgba($contrast, 0.15),
  ),
  secondary-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  secondary-gradient: (
    light: linear-gradient(90deg, color.scale($secondary, $lightness: -12%, $saturation: 20%) 0, color.scale($secondary, $lightness: 4%, $saturation: 20%) 100%),
    dark: linear-gradient(90deg, color.scale($secondary, $lightness: -13%, $saturation: 20%) 0, color.scale($secondary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  secondary-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  secondary-gradient-soft: (
    light: linear-gradient(90deg, color.scale($neutral, $lightness: -4%) 0, color.scale($neutral, $lightness: 2%) 100%),
    dark: linear-gradient(90deg, color.scale($secondary, $lightness: -13%, $saturation: 20%) 0, color.scale($secondary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  secondary-gradient-soft-on: (
    light: $secondary,
    dark: $contrast,
  ),
  brand-content: (
    light: $brand,
    dark: color.mix($brand, #000, 94%),
  ),
  brand-content-hover: (
    light: $accent,
    dark: $accent,
  ),
  brand-surface: (
    light: $brand,
    dark: $brand,
  ),
  brand-surface-on: (
    light: $primary,
    dark: $primary,
  ),
  brand-surface-on-hover: (
    light: $accent,
    dark: $accent,
  ),
  brand-fill: (
    light: $brand,
    dark: color.scale($brand, $lightness: -35%),
  ),
  brand-fill-on: (
    light: $primary,
    dark: $primary,
  ),
  brand-fill-hover: (
    light: color.mix($brand, #000, 94%),
    dark: $accent,
  ),
  brand-fill-soft: (
    light: rgba($brand, 0.05),
    dark: rgba($brand, 0.07),
  ),
  brand-fill-soft-hover: (
    light: rgba($brand, 0.1),
    dark: rgba($brand, 0.13),
  ),
  brand-fill-soft-on: (
    light: $brand,
    dark: $brand,
  ),
  brand-outline: (
    light: $brand,
    dark: color.mix($brand, #000, 85%),
  ),
  brand-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  brand-outline-soft: (
    light: rgba($brand, 0.15),
    dark: rgba($brand, 0.15),
  ),
  brand-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  brand-gradient: (
    light: linear-gradient(90deg, color.scale($brand, $lightness: -25%) 0, color.scale($brand, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  brand-gradient-on: (
    light: $primary,
    dark: $contrast,
  ),
  accent-content: (
    light: $accent,
    dark: $accent,
  ),
  accent-content-hover: (
    light: $accent,
    dark: $accent,
  ),
  accent-surface: (
    light: $accent,
    dark: color.scale($accent, $lightness: -15%),
  ),
  accent-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  accent-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  accent-fill: (
    light: $accent,
    dark: color.scale($accent, $lightness: -10%),
  ),
  accent-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  accent-fill-hover: (
    light: color.scale($accent, $lightness: 13%),
    dark: color.scale($accent, $lightness: -30%),
  ),
  accent-fill-soft: (
    light: rgba($accent, 0.05),
    dark: rgba($accent, 0.08),
  ),
  accent-fill-soft-hover: (
    light: rgba($accent, 0.1),
    dark: rgba($accent, 0.14),
  ),
  accent-fill-soft-on: (
    light: $accent,
    dark: $accent,
  ),
  accent-outline: (
    light: $accent,
    dark: $accent,
  ),
  accent-outline-hover: (
    light: $primary,
    dark: $contrast,
  ),
  accent-outline-soft: (
    light: rgba($accent, 0.2),
    dark: rgba($accent, 0.2),
  ),
  accent-outline-soft-hover: (
    light: $primary,
    dark: $contrast,
  ),
  accent-gradient: (
    light: linear-gradient(90deg, color.scale($accent, $lightness: -10%) 0, color.scale($accent, $lightness: 10%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -37%, $saturation: 20%) 0, color.scale($primary, $lightness: -8%, $saturation: 20%) 100%),
  ),
  accent-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  utility-content: (
    light: $utility,
    dark: $utility,
  ),
  utility-content-hover: (
    light: $utility,
    dark: $utility,
  ),
  utility-surface: (
    light: $utility,
    dark: color.scale($utility, $lightness: -15%),
  ),
  utility-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  utility-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  utility-fill: (
    light: $utility,
    dark: color.scale($utility, $lightness: -30%),
  ),
  utility-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  utility-fill-hover: (
    light: color.scale($utility, $lightness: -12%),
    dark: color.scale($utility, $lightness: -45%),
  ),
  utility-fill-soft: (
    light: rgba($utility, 0.05),
    dark: rgba($utility, 0.07),
  ),
  utility-fill-soft-hover: (
    light: rgba($utility, 0.1),
    dark: rgba($utility, 0.13),
  ),
  utility-fill-soft-on: (
    light: $utility,
    dark: $utility,
  ),
  utility-outline: (
    light: $utility,
    dark: color.mix($utility, #000, 90%),
  ),
  utility-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  utility-outline-soft: (
    light: rgba($utility, 0.2),
    dark: rgba($utility, 0.2),
  ),
  utility-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  utility-gradient: (
    light: linear-gradient(90deg, color.scale($utility, $lightness: -10%) 0, color.scale($utility, $lightness: 10%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -35%, $saturation: 20%) 0, color.scale($primary, $lightness: -5%, $saturation: 20%) 100%),
  ),
  utility-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-content: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-content-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  contrast-surface: (
    light: $contrast,
    dark: color.scale($primary, $lightness: 8%),
  ),
  contrast-surface-on: (
    light: $primary,
    dark: $contrast,
  ),
  contrast-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  contrast-fill: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-fill-on: (
    light: $primary,
    dark: $primary,
  ),
  contrast-fill-hover: (
    light: rgba($contrast, 0.7),
    dark: $phantom,
  ),
  contrast-fill-soft: (
    light: rgba($contrast, 0.1),
    dark: rgba($contrast, 0.1),
  ),
  contrast-fill-soft-hover: (
    light: rgba($contrast, 0.15),
    dark: rgba($contrast, 0.16),
  ),
  contrast-fill-soft-on: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-outline: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-outline-hover: (
    light: rgba($contrast, 0.7),
    dark: rgba($contrast, 0.5),
  ),
  contrast-outline-soft: (
    light: rgba($contrast, 0.15),
    dark: rgba($contrast, 0.2),
  ),
  contrast-outline-soft-hover: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-gradient: (
    light: $contrast,
    dark: linear-gradient(90deg, color.scale($primary, $lightness: 3%, $saturation: 10%) 0, color.scale($primary, $lightness: 9%, $saturation: 10%) 100%),
  ),
  contrast-gradient-on: (
    light: $primary,
    dark: $contrast,
  ),
  phantom-content: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-content-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-surface: (
    light: $phantom,
    dark: linear-gradient(90deg, color.scale($primary, $lightness: 3%, $saturation: 10%) 0, color.scale($primary, $lightness: 8%, $saturation: 10%) 100%),
  ),
  phantom-surface-on: (
    light: $primary,
    dark: $phantom,
  ),
  phantom-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-fill: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-fill-on: (
    light: $primary,
    dark: $primary,
  ),
  phantom-fill-hover: (
    light: rgba($phantom, 0.8),
    dark: rgba($phantom, 0.9),
  ),
  phantom-fill-soft: (
    light: rgba($phantom, 0.1),
    dark: rgba($phantom, 0.1),
  ),
  phantom-fill-soft-hover: (
    light: rgba($phantom, 0.15),
    dark: rgba($phantom, 0.15),
  ),
  phantom-fill-soft-on: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-outline: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-outline-hover: (
    light: rgba($phantom, 0.7),
    dark: rgba($phantom, 1),
  ),
  phantom-outline-soft: (
    light: rgba($phantom, 0.2),
    dark: rgba($phantom, 0.2),
  ),
  phantom-outline-soft-hover: (
    light: $contrast,
    dark: $contrast,
  ),
  phantom-ghost: (
    light: rgba($phantom, 0.1),
    dark: rgba($phantom, 0.1),
  ),
  info-content: (
    light: $info,
    dark: $info,
  ),
  info-content-hover: (
    light: $info,
    dark: $info,
  ),
  info-surface: (
    light: $info,
    dark: $info,
  ),
  info-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  info-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  info-fill: (
    light: $info,
    dark: color.scale($info, $lightness: -20%),
  ),
  info-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  info-fill-hover: (
    light: color.scale($info, $lightness: 15%),
    dark: color.scale($info, $lightness: -35%),
  ),
  info-fill-soft: (
    light: rgba($info, 0.06),
    dark: rgba($info, 0.08),
  ),
  info-fill-soft-hover: (
    light: rgba($info, 0.12),
    dark: rgba($info, 0.15),
  ),
  info-fill-soft-on: (
    light: $info,
    dark: $info,
  ),
  info-outline: (
    light: $info,
    dark: $info,
  ),
  info-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  info-outline-soft: (
    light: rgba($info, 0.2),
    dark: rgba($info, 0.2),
  ),
  info-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  info-gradient: (
    light: linear-gradient(90deg, color.scale($info, $lightness: -15%) 0, color.scale($info, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  info-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  success-content: (
    light: $success,
    dark: $success,
  ),
  success-content-hover: (
    light: $success,
    dark: $success,
  ),
  success-surface: (
    light: $success,
    dark: color.scale($success, $lightness: -15%),
  ),
  success-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  success-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  success-fill: (
    light: $success,
    dark: color.scale($success, $lightness: -20%),
  ),
  success-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  success-fill-hover: (
    light: color.scale($success, $lightness: 10%),
    dark: color.scale($success, $lightness: -35%),
  ),
  success-fill-soft: (
    light: rgba($success, 0.07),
    dark: rgba($success, 0.1),
  ),
  success-fill-soft-hover: (
    light: rgba($success, 0.13),
    dark: rgba($success, 0.16),
  ),
  success-fill-soft-on: (
    light: $success,
    dark: $success,
  ),
  success-outline: (
    light: $success,
    dark: $success,
  ),
  success-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  success-outline-soft: (
    light: rgba($success, 0.2),
    dark: rgba($success, 0.2),
  ),
  success-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  success-gradient: (
    light: linear-gradient(90deg, color.scale($success, $lightness: -15%) 0, color.scale($success, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  success-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  warning-content: (
    light: $warning,
    dark: $warning,
  ),
  warning-content-hover: (
    light: $warning,
    dark: $warning,
  ),
  warning-surface: (
    light: $warning,
    dark: $warning,
  ),
  warning-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  warning-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  warning-fill: (
    light: $warning,
    dark: color.scale($warning, $lightness: -20%),
  ),
  warning-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  warning-fill-hover: (
    light: color.scale($warning, $lightness: 17%),
    dark: color.scale($warning, $lightness: -35%),
  ),
  warning-fill-soft: (
    light: rgba($warning, 0.07),
    dark: rgba($warning, 0.07),
  ),
  warning-fill-soft-hover: (
    light: rgba($warning, 0.13),
    dark: rgba($warning, 0.14),
  ),
  warning-fill-soft-on: (
    light: $warning,
    dark: $warning,
  ),
  warning-outline: (
    light: $warning,
    dark: $warning,
  ),
  warning-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  warning-outline-soft: (
    light: rgba($warning, 0.2),
    dark: rgba($warning, 0.2),
  ),
  warning-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  warning-gradient: (
    light: linear-gradient(90deg, color.scale($warning, $lightness: -15%) 0, color.scale($warning, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  warning-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  danger-content: (
    light: $danger,
    dark: $danger,
  ),
  danger-content-hover: (
    light: $danger,
    dark: $danger,
  ),
  danger-surface: (
    light: $danger,
    dark: $danger,
  ),
  danger-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  danger-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  danger-fill: (
    light: $danger,
    dark: color.scale($danger, $lightness: -20%),
  ),
  danger-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  danger-fill-hover: (
    light: color.scale($danger, $lightness: 17%),
    dark: color.scale($danger, $lightness: -35%),
  ),
  danger-fill-soft: (
    light: rgba($danger, 0.06),
    dark: rgba($danger, 0.08),
  ),
  danger-fill-soft-hover: (
    light: rgba($danger, 0.12),
    dark: rgba($danger, 0.14),
  ),
  danger-fill-soft-on: (
    light: $danger,
    dark: $danger,
  ),
  danger-outline: (
    light: $danger,
    dark: $danger,
  ),
  danger-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  danger-outline-soft: (
    light: rgba($danger, 0.2),
    dark: rgba($danger, 0.2),
  ),
  danger-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  danger-gradient: (
    light: linear-gradient(90deg, color.scale($danger, $lightness: -15%) 0, color.scale($danger, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  danger-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  rating-content: (
    light: $rating,
    dark: $rating,
  ),
  rating-content-hover: (
    light: $rating,
    dark: $rating,
  ),
  rating-surface: (
    light: $rating,
    dark: $rating,
  ),
  rating-surface-on: (
    light: $contrast,
    dark: $contrast,
  ),
  rating-surface-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  rating-fill: (
    light: $rating,
    dark: color.scale($rating, $lightness: -20%),
  ),
  rating-fill-on: (
    light: $primary,
    dark: $primary,
  ),
  rating-fill-hover: (
    light: color.scale($rating, $lightness: 25%),
    dark: color.scale($rating, $lightness: -35%),
  ),
  rating-fill-soft: (
    light: rgba($rating, 0.09),
    dark: rgba($rating, 0.09),
  ),
  rating-fill-soft-hover: (
    light: rgba($rating, 0.16),
    dark: rgba($rating, 0.16),
  ),
  rating-fill-soft-on: (
    light: $rating,
    dark: $rating,
  ),
  rating-outline: (
    light: $rating,
    dark: $rating,
  ),
  rating-outline-hover: (
    light: $accent,
    dark: $accent,
  ),
  rating-outline-soft: (
    light: rgba($rating, 0.2),
    dark: rgba($rating, 0.2),
  ),
  rating-outline-soft-hover: (
    light: $accent,
    dark: $accent,
  ),
  rating-gradient: (
    light: linear-gradient(90deg, color.scale($rating, $lightness: -15%) 0, color.scale($rating, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  rating-gradient-on: (
    light: $contrast,
    dark: $contrast,
  ),
  shadow-m: (
    light: 0 4px 24px rgba($primary, 0.07),
    dark: 0 4px 24px rgba($contrast, 0.08),
  ),
  "transparent": (
    light: rgba($contrast, 0),
    dark: rgba($primary, 0),
  ),
  overlay: (
    light: rgba($primary, 0.2),
    dark: rgba($contrast, 0.2),
  ),
);

[data-theme="light"] {
  color-scheme: light;
  @include theme-generator($themes, "light");
}
[data-theme="dark"] {
  color-scheme: dark;
  @include theme-generator($themes, "dark");
}