:root {
  --radius-max: 9999px;
  --radius-l: 20px;
  --radius-m: 16px;
  --radius-s: 8px;
  --radius-xs: 4px;
  --radius-none: 0;

  --blur-m: 8px;

  --font-family: "Montserrat";

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --font-size-title-xl: 60px;
  --font-size-title-l: 47px;
  --font-size-title-m: 37px;
  --font-size-title-s: 29px;
  --font-size-title-xs: 23px;
  --font-size-label-l: 18px;
  --font-size-label-m: 16px;
  --font-size-label-s: 14px;
  --font-size-description-l: 18px;
  --font-size-description-m: 16px;
  --font-size-description-s: 14px;
  --font-size-note-m: 12px;

  --line-height-title: 1.35;
  --line-height-label: 1.45;
  --line-height-description: 1.6;
  --line-height-note: 1.6;

  --size-80: 80px;
  --size-72: 72px;
  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;

  --spacing-80: 80px;
  --spacing-64: 64px;
  --spacing-48: 48px;
  --spacing-32: 32px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-8: 8px;
}
