@use "mixins" as *;
@use "sass:color";

:root {
  --font-family: "Montserrat";

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --font-size-title-xl: 4.8125rem;
  --font-size-title-l: 3.75rem;
  --font-size-title-m: 2.75rem;
  --font-size-title-s: 1.875rem;
  --font-size-title-xs: 1.25rem;
  --font-size-text-m: 1rem;
  --font-size-text-s: 0.8125rem;

  --line-height-l: 1.6;
  --line-height-m: 1.45;
  --line-height-s: 1.3;

  --container-desktop: 1366px;
  --container-laptop: 1024px;
  --container-tablet: 768px;
  --container-mobile: 425px;

  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;
  --size-4: 4px;
  --size-1: 1px;
  --size-0: 0;

  --spacing-128: 128px;
  --spacing-96: 96px;
  --spacing-64: 64px;
  --spacing-48: 48px;
  --spacing-32: 32px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-0: 0;
  --spacing-minus-4: -4px;
  --spacing-minus-8: -8px;
  --spacing-minus-12: -12px;
  --spacing-minus-16: -16px;
  --spacing-minus-24: -24px;
  --spacing-minus-32: -32px;
  --spacing-minus-48: -48px;
  --spacing-minus-64: -64px;
  --spacing-minus-96: -96px;
  --spacing-minus-128: -128px;

  --radius-9999: 9999px;
  --radius-128: 96px;
  --radius-96: 96px;
  --radius-64: 64px;
  --radius-48: 48px;
  --radius-32: 32px;
  --radius-24: 24px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-8: 8px;
  --radius-4: 4px;
  --radius-0: 0;

  --blur-m: 8px;
}

@include tablet-max {
  :root {
    --font-size-title-xl: 3.75rem;
    --font-size-title-l: 2.75rem;
    --font-size-title-m: 2rem;
    --font-size-title-s: 1.5rem;
    --font-size-title-xs: 1.15rem;
  }
}

@include mobile-only {
  :root {
    --font-size-title-xl: 3rem;
    --font-size-title-l: 2.2rem;
    --font-size-title-m: 1.8rem;
    --font-size-title-s: 1.4rem;
    --font-size-title-xs: 1.1rem;
  }
}

$primary: #1A0A2E;
$secondary: #7B7487;
$neutral: #F2F4F8;
$brand: #F0FF48;
$accent: #AD1875;
$utility: #6DFFF5;
$contrast: #FFFFFF;
$phantom: rgba(255, 255, 255, 0.6);
$info: #0B95D6;
$success: #1CB474;
$warning: #F17400;
$danger: #C21B1B;

$themes: (
  primary-content: (
    light: $primary,
    dark: $contrast,
  ),
  primary-content-hover: (
    light: $accent,
    dark: color.scale($accent, $lightness: 20%),
  ),
  primary-background: (
    light: $primary,
    dark: $primary,
  ),
  primary-background-on: (
    light: $contrast,
    dark: $contrast,
  ),
  primary-background-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  primary-fill: (
    light: $primary,
    dark: $contrast,
  ),
  primary-fill-on: (
    light: $contrast,
    dark: $primary,
  ),
  primary-fill-hover: (
    light: $accent,
    dark: color.scale($accent, $lightness: 20%),
  ),
  primary-fill-soft: (
    light: rgba($primary, 0.05),
    dark: rgba($contrast, 0.05),
  ),
  primary-outline: (
    light: $primary,
    dark: $contrast,
  ),
  primary-outline-soft: (
    light: rgba($primary, 0.15),
    dark: rgba($contrast, 0.15),
  ),
  primary-gradient: (
    light: linear-gradient(90deg, color.scale($primary, $lightness: -12%, $saturation: 20%) 0, color.scale($primary, $lightness: 4%, $saturation: 20%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  secondary: (
    light: $secondary,
    dark: $phantom,
  ),
  secondary-hover: (
    light: mix($secondary, #fff, 80%),
    dark: mix($secondary, #fff, 20%),
  ),
  secondary-background: (
    light: $secondary,
    dark: $secondary,
  ),
  secondary-foreground: (
    light: $contrast,
    dark: $contrast,
  ),
  secondary-ghost: (
    light: rgba($secondary, 0.1),
    dark: rgba($phantom, 0.1),
  ),
  neutral-content: (
    light: $neutral,
    dark: $contrast,
  ),
  neutral-content-hover: (
    light: $accent,
    dark: $accent,
  ),
  neutral-background: (
    light: $neutral,
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  neutral-background-on: (
    light: $primary,
    dark: $contrast,
  ),
  neutral-background-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  neutral-fill: (
    light: $neutral,
    dark: $contrast,
  ),
  neutral-fill-on: (
    light: $contrast,
    dark: $neutral,
  ),
  neutral-fill-hover: (
    light: $accent,
    dark: $accent,
  ),
  neutral-fill-soft: (
    light: rgba($neutral, 0.05),
    dark: rgba($contrast, 0.05),
  ),
  neutral-outline: (
    light: $neutral,
    dark: $contrast,
  ),
  neutral-outline-soft: (
    light: rgba($neutral, 0.15),
    dark: rgba($contrast, 0.15),
  ),
  neutral-gradient: (
    light: linear-gradient(90deg, color.scale($neutral, $lightness: -5%) 0, color.scale($neutral, $lightness: 2%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  brand-content: (
    light: $brand,
    dark: $brand,
  ),
  brand-content-hover: (
    light: $accent,
    dark: $accent,
  ),
  brand-background: (
    light: $brand,
    dark: $brand,
  ),
  brand-background-on: (
    light: $primary,
    dark: $contrast,
  ),
  brand-background-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  brand-fill: (
    light: $brand,
    dark: $contrast,
  ),
  brand-fill-on: (
    light: $contrast,
    dark: $brand,
  ),
  brand-fill-hover: (
    light: $accent,
    dark: $accent,
  ),
  brand-fill-soft: (
    light: rgba($brand, 0.05),
    dark: rgba($contrast, 0.05),
  ),
  brand-outline: (
    light: $brand,
    dark: $contrast,
  ),
  brand-outline-soft: (
    light: rgba($brand, 0.15),
    dark: rgba($contrast, 0.15),
  ),
  brand-gradient: (
    light: linear-gradient(90deg, color.scale($brand, $lightness: -25%) 0, color.scale($brand, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  accent-content: (
    light: $accent,
    dark: $accent,
  ),
  accent-content-hover: (
    light: $accent,
    dark: $accent,
  ),
  accent-background: (
    light: $accent,
    dark: color.scale($accent, $lightness: -15%),
  ),
  accent-background-on: (
    light: $contrast,
    dark: $contrast,
  ),
  accent-background-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  accent-fill: (
    light: $accent,
    dark: $contrast,
  ),
  accent-fill-on: (
    light: $contrast,
    dark: $accent,
  ),
  accent-fill-hover: (
    light: $accent,
    dark: $accent,
  ),
  accent-fill-soft: (
    light: rgba($accent, 0.05),
    dark: rgba($contrast, 0.05),
  ),
  accent-outline: (
    light: $accent,
    dark: $contrast,
  ),
  accent-outline-soft: (
    light: rgba($accent, 0.15),
    dark: rgba($contrast, 0.15),
  ),
  accent-gradient: (
    light: linear-gradient(90deg, color.scale($accent, $lightness: -10%) 0, color.scale($accent, $lightness: 10%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -35%, $saturation: 20%) 0, color.scale($primary, $lightness: -5%, $saturation: 20%) 100%),
  ),
  contrast-content: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-content-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  contrast-background: (
    light: $contrast,
    dark: linear-gradient(90deg, color.scale($primary, $lightness: 3%, $saturation: 10%) 0, color.scale($primary, $lightness: 8%, $saturation: 10%) 100%),
  ),
  contrast-background-on: (
    light: $primary,
    dark: $contrast,
  ),
  contrast-background-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  contrast-fill: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-fill-on: (
    light: $primary,
    dark: $primary,
  ),
  contrast-fill-hover: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-fill-soft: (
    light: rgba($contrast, 0.1),
    dark: rgba($contrast, 0.1),
  ),
  contrast-outline: (
    light: $contrast,
    dark: $contrast,
  ),
  contrast-outline-soft: (
    light: rgba($contrast, 0.2),
    dark: rgba($contrast, 0.2),
  ),
  phantom: (
    light: $phantom,
    dark: $phantom,
  ),
  phantom-hover: (
    light: mix($phantom, #fff, 80%),
    dark: mix($phantom, #fff, 20%),
  ),
  phantom-background: (
    light: $phantom,
    dark: $primary,
  ),
  phantom-foreground: (
    light: $primary,
    dark: $phantom,
  ),
  phantom-ghost: (
    light: rgba($phantom, 0.1),
    dark: rgba($phantom, 0.1),
  ),
  info-content: (
    light: $info,
    dark: $info,
  ),
  info-content-hover: (
    light: $info,
    dark: $info,
  ),
  info-background: (
    light: $info,
    dark: $info,
  ),
  info-background-on: (
    light: $contrast,
    dark: $contrast,
  ),
  info-background-on-hover: (
    light: $phantom,
    dark: $phantom,
  ),
  info-fill: (
    light: $info,
    dark: color.scale($info, $lightness: -20%),
  ),
  info-fill-on: (
    light: $contrast,
    dark: $contrast,
  ),
  info-fill-hover: (
    light: color.scale($info, $lightness: 15%),
    dark: color.scale($info, $lightness: -35%),
  ),
  info-fill-soft: (
    light: rgba($info, 0.05),
    dark: rgba($contrast, 0.05),
  ),
  info-outline: (
    light: $info,
    dark: $contrast,
  ),
  info-outline-soft: (
    light: rgba($info, 0.10),
    dark: rgba($contrast, 0.10),
  ),
  info-gradient: (
    light: linear-gradient(90deg, color.scale($info, $lightness: -15%) 0, color.scale($info, $lightness: 5%) 100%),
    dark: linear-gradient(90deg, color.scale($primary, $lightness: -13%, $saturation: 20%) 0, color.scale($primary, $lightness: 3%, $saturation: 20%) 100%),
  ),
  success: (
    light: $success,
    dark: $contrast,
  ),
  success-hover: (
    light: mix($success, #fff, 80%),
    dark: mix($success, #fff, 20%),
  ),
  success-background: (
    light: $success,
    dark: $success,
  ),
  success-foreground: (
    light: $contrast,
    dark: $contrast,
  ),
  success-ghost: (
    light: rgba($success, 0.1),
    dark: rgba($success, 0.1),
  ),
  warning: (
    light: $warning,
    dark: $contrast,
  ),
  warning-hover: (
    light: mix($warning, #fff, 80%),
    dark: mix($warning, #fff, 20%),
  ),
  warning-background: (
    light: $warning,
    dark: $warning,
  ),
  warning-foreground: (
    light: $contrast,
    dark: $contrast,
  ),
  warning-ghost: (
    light: rgba($warning, 0.1),
    dark: rgba($warning, 0.1),
  ),
  danger: (
    light: $danger,
    dark: $contrast,
  ),
  danger-hover: (
    light: mix($danger, #fff, 80%),
    dark: mix($danger, #fff, 20%),
  ),
  danger-background: (
    light: $danger,
    dark: $danger,
  ),
  danger-foreground: (
    light: $contrast,
    dark: $contrast,
  ),
  danger-ghost: (
    light: rgba($danger, 0.1),
    dark: rgba($danger, 0.1),
  ),
  shadow-m: (
    light: 0 4px 24px rgba($primary, 0.07),
    dark: 0 4px 24px rgba($contrast, 0.07),
  ),
  "transparent": (
    light: rgba($contrast, 0),
    dark: rgba($primary, 0),
  ),
  overlay: (
    light: rgba($primary, 0.2),
    dark: rgba($contrast, 0.2),
  ),
);

[data-theme="light"] {
  @include theme-generator($themes, "light");
}
[data-theme="dark"] {
  @include theme-generator($themes, "dark");
}