:root {
  --font-family: "Montserrat";
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-size-title-xl: 4.8125rem;
  --font-size-title-l: 3.75rem;
  --font-size-title-m: 2.75rem;
  --font-size-title-s: 1.875rem;
  --font-size-title-xs: 1.25rem;
  --font-size-text-m: 1rem;
  --font-size-text-s: 0.8125rem;
  --line-height-l: 1.6;
  --line-height-m: 1.45;
  --line-height-s: 1.3;
  --container-desktop: 1366px;
  --container-laptop: 1024px;
  --container-tablet: 768px;
  --container-mobile: 425px;
  --size-64: 64px;
  --size-56: 56px;
  --size-48: 48px;
  --size-40: 40px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;
  --size-4: 4px;
  --size-1: 1px;
  --size-0: 0;
  --spacing-128: 128px;
  --spacing-96: 96px;
  --spacing-64: 64px;
  --spacing-48: 48px;
  --spacing-32: 32px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-0: 0;
  --spacing-minus-4: -4px;
  --spacing-minus-8: -8px;
  --spacing-minus-12: -12px;
  --spacing-minus-16: -16px;
  --spacing-minus-24: -24px;
  --spacing-minus-32: -32px;
  --spacing-minus-48: -48px;
  --spacing-minus-64: -64px;
  --spacing-minus-96: -96px;
  --spacing-minus-128: -128px;
  --radius-9999: 9999px;
  --radius-128: 96px;
  --radius-96: 96px;
  --radius-64: 64px;
  --radius-48: 48px;
  --radius-32: 32px;
  --radius-24: 24px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-8: 8px;
  --radius-4: 4px;
  --radius-0: 0;
  --blur-m: 8px;
}

@media (max-width: 1219px) {
  :root {
    --font-size-title-xl: 3.75rem;
    --font-size-title-l: 2.75rem;
    --font-size-title-m: 2rem;
    --font-size-title-s: 1.5rem;
    --font-size-title-xs: 1.15rem;
  }
}
@media (max-width: 767px) {
  :root {
    --font-size-title-xl: 3rem;
    --font-size-title-l: 2.2rem;
    --font-size-title-m: 1.8rem;
    --font-size-title-s: 1.4rem;
    --font-size-title-xs: 1.1rem;
  }
}
[data-theme=light] {
  --primary-content: #1A0A2E;
  --primary-content-hover: #AD1875;
  --primary-background: #1A0A2E;
  --primary-background-on: #FFFFFF;
  --primary-background-on-hover: rgba(255, 255, 255, 0.6);
  --primary-fill: #1A0A2E;
  --primary-fill-on: #FFFFFF;
  --primary-fill-hover: #AD1875;
  --primary-fill-soft: rgba(26, 10, 46, 0.05);
  --primary-outline: #1A0A2E;
  --primary-outline-soft: rgba(26, 10, 46, 0.15);
  --primary-gradient: linear-gradient(90deg, rgb(22.6844444444, 7.04, 42.24) 0, rgb(34.1371428571, 10.5942857143, 63.5657142857) 100%);
  --secondary: #7B7487;
  --secondary-hover: rgb(149, 144, 159);
  --secondary-background: #7B7487;
  --secondary-foreground: #FFFFFF;
  --secondary-ghost: rgba(123, 116, 135, 0.1);
  --neutral-content: #F2F4F8;
  --neutral-content-hover: #AD1875;
  --neutral-background: #F2F4F8;
  --neutral-background-on: #1A0A2E;
  --neutral-background-on-hover: rgba(255, 255, 255, 0.6);
  --neutral-fill: #F2F4F8;
  --neutral-fill-on: #FFFFFF;
  --neutral-fill-hover: #AD1875;
  --neutral-fill-soft: rgba(242, 244, 248, 0.05);
  --neutral-outline: #F2F4F8;
  --neutral-outline-soft: rgba(242, 244, 248, 0.15);
  --neutral-gradient: linear-gradient(90deg, rgb(226.075, 230.525, 239.425) 0, rgb(242.26, 244.22, 248.14) 100%);
  --brand-content: #F0FF48;
  --brand-content-hover: #AD1875;
  --brand-background: #F0FF48;
  --brand-background-on: #1A0A2E;
  --brand-background-on-hover: rgba(255, 255, 255, 0.6);
  --brand-fill: #F0FF48;
  --brand-fill-on: #FFFFFF;
  --brand-fill-hover: #AD1875;
  --brand-fill-soft: rgba(240, 255, 72, 0.05);
  --brand-outline: #F0FF48;
  --brand-outline-soft: rgba(240, 255, 72, 0.15);
  --brand-gradient: linear-gradient(90deg, rgb(225.1475409836, 245.25, 0) 0, rgb(240.75, 255, 81.15) 100%);
  --accent-content: #AD1875;
  --accent-content-hover: #AD1875;
  --accent-background: #AD1875;
  --accent-background-on: #FFFFFF;
  --accent-background-on-hover: rgba(255, 255, 255, 0.6);
  --accent-fill: #AD1875;
  --accent-fill-on: #FFFFFF;
  --accent-fill-hover: #AD1875;
  --accent-fill-soft: rgba(173, 24, 117, 0.05);
  --accent-outline: #AD1875;
  --accent-outline-soft: rgba(173, 24, 117, 0.15);
  --accent-gradient: linear-gradient(90deg, rgb(155.7, 21.6, 105.3) 0, rgb(200.4868020305, 27.8131979695, 135.5893401015) 100%);
  --contrast-content: #FFFFFF;
  --contrast-content-hover: rgba(255, 255, 255, 0.6);
  --contrast-background: #FFFFFF;
  --contrast-background-on: #1A0A2E;
  --contrast-background-on-hover: rgba(255, 255, 255, 0.6);
  --contrast-fill: #FFFFFF;
  --contrast-fill-on: #1A0A2E;
  --contrast-fill-hover: #FFFFFF;
  --contrast-fill-soft: rgba(255, 255, 255, 0.1);
  --contrast-outline: #FFFFFF;
  --contrast-outline-soft: rgba(255, 255, 255, 0.2);
  --phantom: rgba(255, 255, 255, 0.6);
  --phantom-hover: rgba(255, 255, 255, 0.68);
  --phantom-background: rgba(255, 255, 255, 0.6);
  --phantom-foreground: #1A0A2E;
  --phantom-ghost: rgba(255, 255, 255, 0.1);
  --info-content: #0B95D6;
  --info-content-hover: #0B95D6;
  --info-background: #0B95D6;
  --info-background-on: #FFFFFF;
  --info-background-on-hover: rgba(255, 255, 255, 0.6);
  --info-fill: #0B95D6;
  --info-fill-on: #FFFFFF;
  --info-fill-hover: rgb(24.5933333333, 173.1733333333, 243.1566666667);
  --info-fill-soft: rgba(11, 149, 214, 0.05);
  --info-outline: #0B95D6;
  --info-outline-soft: rgba(11, 149, 214, 0.1);
  --info-gradient: linear-gradient(90deg, rgb(9.35, 126.65, 181.9) 0, rgb(11.6966666667, 158.4366666667, 227.5533333333) 100%);
  --success: #1CB474;
  --success-hover: rgb(73, 195, 144);
  --success-background: #1CB474;
  --success-foreground: #FFFFFF;
  --success-ghost: rgba(28, 180, 116, 0.1);
  --warning: #F17400;
  --warning-hover: rgb(244, 144, 51);
  --warning-background: #F17400;
  --warning-foreground: #FFFFFF;
  --warning-ghost: rgba(241, 116, 0, 0.1);
  --danger: #C21B1B;
  --danger-hover: rgb(206, 73, 73);
  --danger-background: #C21B1B;
  --danger-foreground: #FFFFFF;
  --danger-ghost: rgba(194, 27, 27, 0.1);
  --shadow-m: 0 4px 24px rgba(26, 10, 46, 0.07);
  --transparent: rgba(255, 255, 255, 0);
  --overlay: rgba(26, 10, 46, 0.2);
}

[data-theme=dark] {
  --primary-content: #FFFFFF;
  --primary-content-hover: rgb(224.4944162437, 35.1055837563, 153.3147208122);
  --primary-background: #1A0A2E;
  --primary-background-on: #FFFFFF;
  --primary-background-on-hover: rgba(255, 255, 255, 0.6);
  --primary-fill: #FFFFFF;
  --primary-fill-on: #1A0A2E;
  --primary-fill-hover: rgb(224.4944162437, 35.1055837563, 153.3147208122);
  --primary-fill-soft: rgba(255, 255, 255, 0.05);
  --primary-outline: #FFFFFF;
  --primary-outline-soft: rgba(255, 255, 255, 0.15);
  --primary-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --secondary: rgba(255, 255, 255, 0.6);
  --secondary-hover: rgb(229, 227, 231);
  --secondary-background: #7B7487;
  --secondary-foreground: #FFFFFF;
  --secondary-ghost: rgba(255, 255, 255, 0.1);
  --neutral-content: #FFFFFF;
  --neutral-content-hover: #AD1875;
  --neutral-background: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --neutral-background-on: #FFFFFF;
  --neutral-background-on-hover: rgba(255, 255, 255, 0.6);
  --neutral-fill: #FFFFFF;
  --neutral-fill-on: #F2F4F8;
  --neutral-fill-hover: #AD1875;
  --neutral-fill-soft: rgba(255, 255, 255, 0.05);
  --neutral-outline: #FFFFFF;
  --neutral-outline-soft: rgba(255, 255, 255, 0.15);
  --neutral-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --brand-content: #F0FF48;
  --brand-content-hover: #AD1875;
  --brand-background: #F0FF48;
  --brand-background-on: #FFFFFF;
  --brand-background-on-hover: rgba(255, 255, 255, 0.6);
  --brand-fill: #FFFFFF;
  --brand-fill-on: #F0FF48;
  --brand-fill-hover: #AD1875;
  --brand-fill-soft: rgba(255, 255, 255, 0.05);
  --brand-outline: #FFFFFF;
  --brand-outline-soft: rgba(255, 255, 255, 0.15);
  --brand-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --accent-content: #AD1875;
  --accent-content-hover: #AD1875;
  --accent-background: rgb(147.05, 20.4, 99.45);
  --accent-background-on: #FFFFFF;
  --accent-background-on-hover: rgba(255, 255, 255, 0.6);
  --accent-fill: #FFFFFF;
  --accent-fill-on: #AD1875;
  --accent-fill-hover: #AD1875;
  --accent-fill-soft: rgba(255, 255, 255, 0.05);
  --accent-outline: #FFFFFF;
  --accent-outline-soft: rgba(255, 255, 255, 0.15);
  --accent-gradient: linear-gradient(90deg, rgb(16.7555555556, 5.2, 31.2) 0, rgb(24.4888888889, 7.6, 45.6) 100%);
  --contrast-content: #FFFFFF;
  --contrast-content-hover: rgba(255, 255, 255, 0.6);
  --contrast-background: linear-gradient(90deg, rgb(32.1854365079, 11.1889285714, 58.4310714286) 0, rgb(42.6796825397, 14.8371428571, 77.4828571429) 100%);
  --contrast-background-on: #FFFFFF;
  --contrast-background-on-hover: rgba(255, 255, 255, 0.6);
  --contrast-fill: #FFFFFF;
  --contrast-fill-on: #1A0A2E;
  --contrast-fill-hover: #FFFFFF;
  --contrast-fill-soft: rgba(255, 255, 255, 0.1);
  --contrast-outline: #FFFFFF;
  --contrast-outline-soft: rgba(255, 255, 255, 0.2);
  --phantom: rgba(255, 255, 255, 0.6);
  --phantom-hover: rgba(255, 255, 255, 0.92);
  --phantom-background: #1A0A2E;
  --phantom-foreground: rgba(255, 255, 255, 0.6);
  --phantom-ghost: rgba(255, 255, 255, 0.1);
  --info-content: #0B95D6;
  --info-content-hover: #0B95D6;
  --info-background: #0B95D6;
  --info-background-on: #FFFFFF;
  --info-background-on-hover: rgba(255, 255, 255, 0.6);
  --info-fill: rgb(8.8, 119.2, 171.2);
  --info-fill-on: #FFFFFF;
  --info-fill-hover: rgb(7.15, 96.85, 139.1);
  --info-fill-soft: rgba(255, 255, 255, 0.05);
  --info-outline: #FFFFFF;
  --info-outline-soft: rgba(255, 255, 255, 0.1);
  --info-gradient: linear-gradient(90deg, rgb(22.4266666667, 6.96, 41.76) 0, rgb(32.0473015873, 9.9457142857, 59.6742857143) 100%);
  --success: #FFFFFF;
  --success-hover: rgb(210, 240, 227);
  --success-background: #1CB474;
  --success-foreground: #FFFFFF;
  --success-ghost: rgba(28, 180, 116, 0.1);
  --warning: #FFFFFF;
  --warning-hover: rgb(252, 227, 204);
  --warning-background: #F17400;
  --warning-foreground: #FFFFFF;
  --warning-ghost: rgba(241, 116, 0, 0.1);
  --danger: #FFFFFF;
  --danger-hover: rgb(243, 209, 209);
  --danger-background: #C21B1B;
  --danger-foreground: #FFFFFF;
  --danger-ghost: rgba(194, 27, 27, 0.1);
  --shadow-m: 0 4px 24px rgba(255, 255, 255, 0.07);
  --transparent: rgba(26, 10, 46, 0);
  --overlay: rgba(255, 255, 255, 0.2);
}
