@use "@/styles/mixins" as *;

.image {
  position: relative;
  top: 24px;

  @media (max-width: 1260px) {
    width: 320px;
    height: 320px;
  }

  @media (max-width: 1240px) {
    width: 300px;
    height: 300px;
  }
}

.button {
  @include mobile-only {
    width: 100%;
  }
}