@use "@/styles/mixins" as *;

.subtitle {
  @include mobile-only {
    max-width: 280px;
  }
}

.image {
  position: relative;
  top: 0;
  right: -12px;
  width: 440px;
  height: 440px;

  @media (max-width: 1330px) {
    width: 380px;
    height: 380px;
  }

  @media (max-width: 1260px) {
    width: 320px;
    height: 320px;
  }

  @media (max-width: 1240px) {
    width: 300px;
    height: 300px;
  }
}

.button {
  @include mobile-only {
    width: 100%;
  }
}