@use "@/styles/mixins" as *;

.section {
  @include mobile-only {
    text-align: center;
  }
}

.image {
  @include tablet-only {
    position: relative;
    top: 7px;
    width: 360px;
    height: auto;
  }

  @include mobile-only {
    width: 340px;
    height: auto;
  }
}