@use "@/styles/mixins" as *;

.container {
  &.container {
    &.container {
      @include tablet-max {
        align-items: flex-end;
      }

      @include mobile-only {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .content {
        @include mobile-only {
          align-items: center;
        }
      }

      .info {
        @include mobile-only {
          align-items: center;
        }
      }

      .titles {
        @include mobile-only {
          align-items: center;
        }
      }

      .image {
        @include tablet-max {
          position: relative;
          top: 7px;
          width: 360px;
          height: auto;
        }
      }
    }
  }
}